<div class="row">
	<div class="col-md-3">
		<h4>Artist</h4>
		<ul>
			<li ng-repeat="(key, value) in data.facet_counts.facet_fields.artist"
				ng-click="addFilterQuery('artist', key)">
				<nav-path ng-attr-path="{{key}}" ng-attr-facet="artist"></nav-path>
				({{value}})
			</li>
		</ul>
		<button class="btn btn-default btn-xs" ng-click="changeFacetCount('artist', 10)">more</button>
		<button class="btn btn-default btn-xs" ng-click="changeFacetCount('artist', -10)">less</button>
	</div>

	<div class="col-md-3">
		<h4>Album</h4>
		<ul>
			<li ng-repeat="(key, value) in data.facet_counts.facet_fields.album"
				ng-click="addFilterQuery('album', key)">
				<nav-path ng-attr-path="{{key}}" ng-attr-facet="album"></nav-path>
				({{value}})
			</li>
		</ul>
		<button class="btn btn-default btn-xs" ng-click="changeFacetCount('album', 10)">more</button>
		<button class="btn btn-default btn-xs" ng-click="changeFacetCount('album', -10)">less</button>
	</div>

	<div class="col-md-2">
		<h4>Genre</h4>
		<ul>
			<li ng-repeat="(key, value) in data.facet_counts.facet_fields.genre"
				ng-click="addFilterQuery('genre', key)">
				<nav-path ng-attr-path="{{key}}" ng-attr-facet="genre"></nav-path>
				({{value}})
			</li>
		</ul>
		<button class="btn btn-default btn-xs" ng-click="changeFacetCount('genre', 10)">more</button>
		<button class="btn btn-default btn-xs" ng-click="changeFacetCount('genre', -10)">less</button>
	</div>
	<div class="col-md-2">
		<h4>FsGenre</h4>
		<ul>
			<li ng-repeat="(key, value) in data.facet_counts.facet_fields.fsGenre"
				ng-click="addFilterQuery('fsGenre', key)">
				<nav-path ng-attr-path="{{key}}" ng-attr-facet="fsGenre"></nav-path>
				({{value}})
			</li>
		</ul>
	</div>

	<div class="col-md-2">
		<h4>Provider</h4>
		<ul>
			<li ng-repeat="(key, value) in data.facet_counts.facet_fields.fsProvider"
				ng-click="addFilterQuery('fsProvider', key)">
				<nav-path ng-attr-path="{{key}}" ng-attr-facet="fsProvider"></nav-path>
				({{value}})
			</li>
		</ul>
	</div>
</div>

