<div class="row">
	<div id="Artist" class="col-md-3">
	<h3>Artist</h3>
		<ul>
		<li ng-repeat="(key, value) in data.facet_counts.facet_fields.artist" ng-click="addFilterQuery('artist', key)">
			<nav-path ng-attr-path="{{key}}" ng-attr-facet="artist" ></nav-path>
			({{value}})
		</li>
			</ul>
	</div>
	<h3>Album</h3>
	<div id="id3Album" class="col-md-3">
		<ul>
		<li ng-repeat="(key, value) in data.facet_counts.facet_fields.album" ng-click="addFilterQuery('album', key)">
			<nav-path ng-attr-path="{{key}}" ng-attr-facet="album" ></nav-path>
			({{value}})
		</li>
			</ul>
	</div>
</div>

