.hidden {
	display: none;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.btn-accordeon {
	width: 100%;
	margin-bottom: 5px;
}

.small-table > thead > tr > th,
.small-table > tbody > tr > th,
.small-table > tfoot > tr > th,
.small-table > thead > tr > td,
.small-table > tbody > tr > td,
.small-table > tfoot > tr > td {
	padding: 2px;
}

.top2 { margin-top:0.2%; }
.top3 { margin-top:0.3%; }
.top5 { margin-top:0.5%; }
.top10 { margin-top:1%; }
.top1 { margin-top:0.1%; }


.iso-item .iso-img-item {
	padding: 3px;
	float: left;
}

.iso-item.selected .iso-img-item {
	padding: 1px;
	border: 2px solid black;
}

ul.pagination {
	margin: 0px;
}

ul.typo3-widget-paginator {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	padding: 0px;
	margin: 0px;
}

td.mp3-song-list-controls {
	width: 100px;
}

ul.typo3-widget-paginator li {
	display: inline;
}


.ngdialog.ngdialog-theme-default .ngdialog-content {
	width: 1250px;
}

div.image-top {
	z-index: 1000;
	width: 100%;
	top: 0;
	margin-top: 50px;
}

div.image-top.affix{
	left: 0px;
}

div.image-doc .ngdialog-overlay {
	background: none;
}
div.image-doc {
	overflow: hidden;
}
div.image-doc .ngdialog-content {
	background: black;
}

div.image-doc .control {
	position: absolute;
	cursor: pointer;
	top: 0px;
	left: 0px;
}

div.overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #333;
  opacity: 0.8;
  filter: alpha(opacity=80);
  z-index: 999995;
}

.ui-autocomplete {
	z-index: 999999;
}
