<toaster-container></toaster-container>

<overlay finished="finished"></overlay>
<div data-ng-if="!finished" class="spinner">
	<spinner></spinner>
</div>

<div class="row">
	<div class="col-md-4">
		<button class="btn btn-default" ng-click="transferSelected()">transfer selected</button>
		<button class="btn btn-default" ng-click="transferAll()">transfer all</button>
		<button ng-show="collection.length" class="btn btn-default" ng-click="empty()">empty</button>
		<button ng-show="collection.length" class="btn btn-default" ng-click="deleteSelected()">delete selected</button>
	</div>
	<div ng-show="collection.length" class="col-md-8">
		<form novalidate class="form-horizontal">
			<div class="form-group row">
				<div class="col-md-4">
					<input class="form-control" id="category" type="text" data-ng-model="category" data-autocomplete />
				</div>
				<div class="col-md-4">
					<input class="form-control btn btn-danger" type="submit" ng-click="merge()" value="Merge all Documents into Category" />
				</div>
				<div class="col-md-4">
					<input class="form-control btn-danger" type="submit" ng-click="remove()" value="Remove all Documents from Category" />
				</div>
			</div>
		</form>
		<div class="row">
			<form class="form-horizontal">
				<div class="form-group">
					<label for="name" class="col-md-1 control-label">Name</label>
					<div class="col-md-2">
						<input type="text" class="form-control" data-ng-model="zip.name" id="name" required="required" />
					</div>
					<div class="checkbox col-md-2">
						<label>
							<input type="checkbox" value="1" data-ng-model="zip.useThumb" />
							use Thumb
						</label>
					</div>
					<div class="checkbox col-md-2">
						<label>
							<input type="checkbox" value="1" data-ng-model="zip.useFullPath" />
							use Full Path
						</label>
					</div>
					<div class="col-md-2">
						<input class="form-control btn-danger" type="submit" ng-click="zipDownload()" value="ZIP" />
					</div>
				</div>
			</form>
		</div>
		<div class="row">
			<form class="form-horizontal">
				<div class="form-group">
					<label for="columns" class="col-md-1 control-label">Columns</label>
					<div class="col-md-1">
						<input type="text" class="form-control" data-ng-model="pdf.columns" id="columns" value="3" />
					</div>
					<label for="dpi" class="col-md-1 control-label">DPI</label>
					<div class="col-md-1">
						<input type="text" class="form-control" data-ng-model="pdf.dpi" id="dpi" value="300" />
					</div>
					<label for="size" class="col-md-1 control-label">Size</label>
					<div class="col-md-1">
						<select class="form-control" data-ng-model="pdf.size">
							<option value="0">A0</option>
							<option value="1">A1</option>
							<option value="2">A2</option>
							<option value="3">A3</option>
							<option value="4">A4</option>
							<option value="5">A5</option>
							<option value="6">A6</option>
						</select>
					</div>
					<div class="col-md-2">
						<input class="form-control btn-danger" type="submit" ng-click="pdfDownload()" value="PDF" />
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="clearfix"></div>



<div id="items">
	<div class="container-full" current-page="{{currentPage}}" total="{{total}}" collection="collection" items-per-page="{{itemsPerPage}}" data-iso-container="collection"></div>
</div>

