<div class="row">
	<div class="col-md-4">
	<button class="btn btn-default" ng-click="transferSelected()">transfer selected</button>
	<button class="btn btn-default" ng-click="transferAll()">transfer all</button>
	<button ng-show="collection.length" class="btn btn-default" ng-click="empty()">empty</button>
	<button ng-show="collection.length" class="btn btn-default" ng-click="deleteSelected()">delete selected</button>
	</div>
	<div ng-show="collection.length" class="col-md-8">
		<form novalidate class="form-horizontal">
			<div class="form-group">
				<div class="col-md-4">
					<input class="form-control" id="category" type="text" data-ng-model="category" data-autocomplete />
				</div>
				<div class="col-md-4">
					<input class="form-control btn btn-danger" type="submit" ng-click="merge()" value="Merge all Documents into Category" />
				</div>
				<div class="col-md-4">
					<input class="form-control btn-danger" type="submit" ng-click="remove()" value="Remove all Documents from Category" />
				</div>
			</div>
		</form>
	</div>
</div>
<div class="clearfix"></div>

<div id="items">
	<div class="container-full" current-page="{{currentPage}}" total="{{total}}" collection="collection" items-per-page="{{itemsPerPage}}" data-iso-container="collection"></div>
</div>

