<toaster-container></toaster-container>

<overlay finished="finished"></overlay>
<div data-ng-if="!finished" class="spinner">
	<spinner></spinner>
</div>

<div ng-show="view === 'list'">
	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped">
				<tr ng-repeat="documentList in documentLists">
					<td>{{documentList.category.path}}</td>
					<td><button ng-click="show(documentList.__identity)" class="btn btn-default btn-xs" >show</button></td>
					<td><button ng-click="delete(documentList.__identity)" class="btn btn-danger btn-xs" >delete</button></td>
				</tr>
			</table>
		</div>
	</div>

</div>
<div ng-show="view === 'show'">
	<div class="row">
		<div class="col-md-12">
			<button ng-click="list()" class="btn btn-default" >list</button>
			<button ng-click="delete(documentList.__identity)" class="btn btn-danger" >delete</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<ul class="draglist">
				<li ng-repeat="item in documentList.documentListItems" ng-drop="true" ng-drop-success="onDropComplete($index, $data,$event)">
					<div ng-drag="true" ng-drag-data="item">
						<img src="{{item.document.webThumbPath}}" />
					</div>
				</li>
			</ul>
		</div>
	</div>
	
</div>

