









<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-2">
				<pre>{{query}}</pre>
			</div>
			<div class="col-md-10">
				<button class="btn btn-default " ng-click="integrity('*:*')">reset</button>
				<button class="btn btn-default " ng-click="integrity('-locations:*')">no locations</button>
				<button class="btn btn-default " ng-click="integrity('locations:none')">locations:none</button>
				<button class="btn btn-default " ng-click="integrity('-categories:*')">no categories</button>
				<button class="btn btn-default " ng-click="integrity('-mDateTime:*')">no mDateTime</button>
				<button class="btn btn-default " ng-click="integrity('tags:* AND -tags:all')">all tags</button>
				<button class="btn btn-default " ng-click="integrity('tags:* AND -tags:lucky_bilderrahmen')">tagged but no lucky</button>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-3">
		<h4>filterQueries</h4>
		<div ng-repeat="(key, values) in filterQueries">
			<ul>
				<li ng-repeat="value in values">
					<span ng-click="rmFilterQuery(key, value)">{{key}}: {{value}}</span>
					<span class="glyphicon glyphicon-pencil" aria-hidden="true" ng-click="editCategory(key, value)"></span> 
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-9" ng-show="category">
		<h4>{{category}}</h4>
			<div class="form-group">
				<div class="col-md-3">
					<input class="form-control" id="category" type="text" data-ng-model="category" data-autocomplete />
				</div>
				<div class="col-md-2">
					<input class="form-control btn btn-danger" type="submit" ng-click="updateCategory(category)" value="Rename" />
				</div>
				<div class="col-md-2">
					<input class="form-control btn-danger" type="submit" ng-click="deleteCategory(category)" value="Delete" />
				</div>
			</div>
	</div>
</div>



<div class="row">
	<div class="col-xs-3 col-md-3 col-sm-12">
		<h4>locations</h4>
		<ul>
			<li ng-repeat="(key, value) in facets.locations" ng-click="addFacet('locations', key)">{{key}} ({{value}})</li>
		</ul>
		<h4>categories</h4>
		<ul>
			<li ng-repeat="(key, value) in facets.categories" ng-click="addFacet('categories', key)">{{key}} ({{value}})</li>
		</ul>
	</div>
	<div class="col-xs-1 col-md-1 col-sm-12">
		<h4>tags</h4>
		<ul class="list-inline">
			<li ng-repeat="(key, value) in facets.tags" class="pull-left" ng-click="addFacet('tags', key)">{{key}} ({{value}})</li>
		</ul>
	</div>
	<div class="col-xs-1 col-md-1 col-sm-12">
		<h4>year</h4>
		<ul class="list-inline">
			<li ng-repeat="(key, value) in facets.year" class="pull-left" ng-click="addFacet('year', key)">{{key}} ({{value}})</li>
		</ul>
	</div>
	<div class="col-xs-1 col-md-1 col-sm-12">
		<h4>parties</h4>
		<ul class="list-inline">
			<li ng-repeat="(key, value) in facets.parties" class="pull-left" ng-click="addFacet('parties', key)">{{key}} ({{value}})</li>
		</ul>
	</div>
	<div class="col-xs-3 col-md-3 col-sm-12">
		<h4>mainDirectories</h4>
		<ul>
			<li ng-repeat="(key, value) in facets.mainDirectoryName " ng-click="addFacet('mainDirectoryName', key)">{{key}} ({{value}})</li>
		</ul>
	</div>
	<div class="col-xs-3 col-md-3 col-sm-12">
		<h4>collections</h4>
		<ul>
			<li ng-repeat="(key, value) in facets.collections" ng-click="addFacet('collections', key)">{{key}} ({{value}})</li>
		</ul>
	</div>
</div>


<!--
<div ng-repeat="(facet, result) in facets">
	<h2>{{facet}}</h2>
	<ul ng-repeat="(key, value) in result">
		<li ng-click="addFacet(facet, key)">{{key}} ({{value}})</li>
	</ul>
</div>
-->
