



<div class="row">
	<div class="col-md-3">
		<h2>filterQueries</h2>
		<div ng-repeat="(key, values) in filterQueries">
			<ul>
				<li ng-repeat="value in values" ng-click="rmFilterQuery(key, value)">{{key}}: {{value}}</li>
			</ul>
		</div>
	</div>
	<div class="col-md-9">
		<div class="row">
			<div class="col-md-2">
				<pre>{{query}}</pre>
			</div>
			<div class="col-md-10">
				<button class="btn btn-default " ng-click="integrity('*:*')">reset</button>
				<button class="btn btn-default " ng-click="integrity('-locations:*')">no locations</button>
				<button class="btn btn-default " ng-click="integrity('locations:none')">locations:none</button>
				<button class="btn btn-default " ng-click="integrity('-categories:*')">no categories</button>
				<button class="btn btn-default " ng-click="integrity('-mDateTime:*')">no mDateTime</button>
				<button class="btn btn-default " ng-click="integrity('tags:* AND -tags:all')">all tags</button>
				<button class="btn btn-default " ng-click="integrity('tags:* AND -tags:lucky_bilderrahmen')">tagged but no lucky</button>
			</div>
		</div>
	</div>
</div>



<div class="row">
	<div class="col-xs-3 col-md-3 col-sm-12">
		<h2>locations</h2>
		<ul>
			<li ng-repeat="(key, value) in facets.locations" ng-click="addFacet('locations', key)">{{key}} ({{value}})</li>
		</ul>
		<h2>categories</h2>
		<ul>
			<li ng-repeat="(key, value) in facets.categories" ng-click="addFacet('categories', key)">{{key}} ({{value}})</li>
		</ul>
	</div>
	<div class="col-xs-1 col-md-1 col-sm-12">
		<h2>tags</h2>
		<ul class="list-inline">
			<li ng-repeat="(key, value) in facets.tags" class="pull-left" ng-click="addFacet('tags', key)">{{key}} ({{value}})</li>
		</ul>
	</div>
	<div class="col-xs-1 col-md-1 col-sm-12">
		<h2>year</h2>
		<ul class="list-inline">
			<li ng-repeat="(key, value) in facets.year" class="pull-left" ng-click="addFacet('year', key)">{{key}} ({{value}})</li>
		</ul>
	</div>
	<div class="col-xs-1 col-md-1 col-sm-12">
		<h2>parties</h2>
		<ul class="list-inline">
			<li ng-repeat="(key, value) in facets.parties" class="pull-left" ng-click="addFacet('parties', key)">{{key}} ({{value}})</li>
		</ul>
	</div>
	<div class="col-xs-3 col-md-3 col-sm-12">
		<h2>mainDirectories</h2>
		<ul>
			<li ng-repeat="(key, value) in facets.mainDirectoryName " ng-click="addFacet('mainDirectoryName', key)">{{key}} ({{value}})</li>
		</ul>
	</div>
	<div class="col-xs-3 col-md-3 col-sm-12">
		<h2>collections</h2>
		<ul>
			<li ng-repeat="(key, value) in facets.collections" ng-click="addFacet('collections', key)">{{key}} ({{value}})</li>
		</ul>
	</div>
</div>


<!--
<div ng-repeat="(facet, result) in facets">
	<h2>{{facet}}</h2>
	<ul ng-repeat="(key, value) in result">
		<li ng-click="addFacet(facet, key)">{{key}} ({{value}})</li>
	</ul>
</div>
-->
