












<toaster-container></toaster-container>

<overlay finished="finished"></overlay>
<div data-ng-if="!finished" class="spinner">
	<spinner></spinner>
</div>

<div class="container" ng-show="view === 'list'">
	<div class="row">
		<div class="col-md-2">
			<input class="form-control" ng-model="search" type="text" />
		</div>
		<div class="col-md-2">
			<button class="btn btn-default " ng-show="showAll === false" ng-click="setShowAll(true)">show all</button>
			<button class="btn btn-default " ng-show="showAll === true" ng-click="setShowAll(false)">hide non differs</button>
		</div>
		<div class="col-md-6">
			<button class="btn btn-default " ng-click="solrIntegrity('locations')">Solr no locationts</button>
			<button class="btn btn-default " ng-click="solrIntegrity('categories')">Solr no categories</button>
			<button class="btn btn-default " ng-click="solrIntegrity('mDateTime')">Solr no mDateTime</button>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped">
				<tr ng-repeat="integrity in integrities | filter:search" ng-show="integrity.countDiffers || showAll">
					<td>{{integrity.name}}</td>
					<td>{{integrity.countFileSystem}}</td>
					<td>{{integrity.countSolr}}</td>
					<td ng-click="show(integrity.name)"><button class="btn btn-default btn-xs" >show</button></td>
				</tr>
			</table>
		</div>
	</div>
</div>

<div ng-show="view === 'show'">
	<div class="row">
		<div class="col-md-4">
			<h4>{{integrity.name}}</h4>
		</div>
		<div class="col-md-2">
			<button ng-click="list()" class="btn btn-default" >list</button>
		</div>
		<div class="col-md-2">
			<button ng-click="update(integrity.name)" class="btn btn-default btn-danger" >index</button>
			<button ng-hide="integrity.countDiffers" ng-click="solr(integrity.name)" class="btn btn-default btn-danger" >solr</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<h4>Persisted</h4>
			<ul>
				<li ng-repeat="document in integrity.persistedDocuments">{{document.fileName}}</li>
			</ul>
		</div>
		<div class="col-md-3">
			<h4>Solr</h4>
			<ul>
				<li ng-repeat="document in integrity.solrDocuments">{{document}}</li>
			</ul>
		</div>
		<div class="col-md-3">
			<h4>FileSystem</h4>
			<ul>
				<li ng-repeat="document in integrity.filesystemDocuments">{{document}}</li>
			</ul>
		</div>
		<div class="col-md-3">
			<h4>Thumbs</h4>
			<ul>
				<li ng-repeat="document in integrity.thumbs">{{document}}</li>
			</ul>
		</div>
	</div>
</div>
