<h2>mainDirectoryName</h2>
<ul ng-repeat="(key, value) in results.facet_counts.facet_fields.mainDirectoryName">
	<li ng-click="addFacet('mainDirectoryName', key)">{{key}} ({{value}})</li>
</ul>
<h2>paths</h2>
<ul ng-repeat="(key, value) in results.facet_counts.facet_fields.paths">
	<li ng-click="addFacet('paths', key)">{{key}} ({{value}})</li>
</ul>
<h2>year</h2>
<ul ng-repeat="(key, value) in results.facet_counts.facet_fields.year">
	<li ng-click="addFacet('year', key)">{{key}} ({{value}})</li>
</ul>

<h2>fq</h2>
<ul ng-repeat="fq in filterQueries">
   <li ng-click="rmFq(fq)">{{fq}}</li>
</ul>


<div ng-repeat="facet in facets">
	<h2>{{facet}}</h2>
</div>
