<div class="col-xs-4 col-md-4 col-sm-12">
	<form novalidate class="simple-form">
		<div class="form-group">
			<label class="control-label" for="rows">rows: </label>
			<input class="form-control" id="rows" type="text" ng-change="update()" data-ng-model="settings.rows" />
		</div>
		<div class="form-group">
			<label class="control-label" for="facetLimit">facetLimit: </label>
			<input class="form-control" id="facetLimit" type="text" ng-change="update()" data-ng-model="settings.facetLimit" />
		</div>
	</form>
</div>
