<f:layout name="Default"/>

<f:section name="Title">Show tv channel {tvChannel.name}</f:section>
<f:section name="Content">
	<table class="table table-striped">

		<tr>
			<th>Name</th>
			<td>{tvChannel.name}</td>
		</tr>
		<tr>
			<th>Channel</th>
			<td>{tvChannel.channel}</td>
		</tr>

	</table>

	<h3>edit tvChannel</h3>
	<f:form action="index" object="{tvChannel}" objectName="tvChannel">
		<input type="hidden" name="__method" value="PUT"/>

		<div class="form-group">
			<label class="control-label" for="name">Name</label>
			<f:form.textfield property="name" class="form-control" id="name"/>
		</div>

		<div class="form-group">
			<label class="control-label" for="channel">Channel</label>
			<f:form.textfield property="channel" class="form-control" id="channel"/>
		</div>

		<div class="form-group">
			<f:link.action action="index" class="btn btn-default">Back</f:link.action>
			<f:form.submit class="btn btn-default" value="Update"/>
		</div>
	</f:form>


	<h3>Record</h3>
	<f:form action="index" controller="TvRecording" objectName="tvRecording">
		<input type="hidden" name="__method" value="POST"/>

		<f:form.hidden property="tvChannel" value="{tvChannel}" />

		<div class="form-group">
			<label class="control-label" for="title">title</label>
			<f:form.textfield property="title" class="form-control" id="title"/>
		</div>

		<div class="form-group">
			<label class="control-label" for="starttime">starttime</label>
			<f:form.textfield property="starttime" class="form-control" id="starttime"/>
		</div>

		<div class="form-group">
			<label class="control-label" for="length">length</label>
			<f:form.textfield property="length" class="form-control" id="length"/>
		</div>


		<div class="form-group">
			<f:form.submit class="btn btn-default" value="Create"/>
		</div>
	</f:form>


</f:section>
