
	<div data-ng-if="imageDocList.view === 'list'">
		<div class="row">
			<div class="col-md-12">
				<table class="table table-striped">
					<tr data-ng-repeat="documentList in imageDocList.documentLists">
						<td>{{documentList.category.path}}</td>
						<td><button data-ng-click="imageDocList.coreApi.listShow(documentList.__identity)" class="btn btn-default btn-xs" >show</button></td>
						<td><button data-ng-click="imageDocList.coreApi.listDelete(documentList.__identity)" class="btn btn-danger btn-xs" >delete</button></td>
					</tr>
				</table>
			</div>
		</div>

	</div>
	<div data-ng-if="imageDocList.view === 'show'">
		<div class="row">
			<div class="col-md-3">
				<h2>{{imageDocList.documentList.category.path}}</h2>
			</div>
			<div class="col-md-9">
				<button data-ng-click="imageDocList.coreApi.listList()" class="btn btn-default" >list</button>
				<button data-ng-click="imageDocList.showBig(true)" class="btn btn-default" data-ng-if="imageDocList.big === false">show big</button>
				<button data-ng-click="imageDocList.showBig(false)" class="btn btn-default" data-ng-if="imageDocList.big">hide big</button>
				<button data-ng-click="imageDocList.coreApi.listUpdate(imageDocList.documentList)" class="btn btn-success" >save</button>
				<button data-ng-click="imageDocList.coreApi.listDelete(imageDocList.documentList.__identity)" class="btn btn-danger" >delete</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<ul class="draglist imagelist">
					<li data-ng-repeat="item in imageDocList.documentList.documentListItems" ng-drop="true" ng-drop-success="imageDocList.onDropComplete($index, $data,$event)">
						<div ng-drag="true" ng-drag-data="item">
							<img data-ng-src="{{item.document.webPreviewPath}}" data-ng-if="imageDocList.big"/>
							<img data-ng-src="{{item.document.webThumbPath}}" data-ng-if="imageDocList.big === false"/>
						</div>
					</li>
				</ul>
			</div>
		</div>

	</div>

