<div data-ng-controller="DocumentController as document">
	<div data-ng-controller="ApiController as api">
		<div data-ng-controller="ClipboardController as clipboard">
			<div data-ng-controller="FilterController as filterCtrl">

				<div data-ng-controller="WidgetController as widget">

					<toaster-container></toaster-container>

					<overlay finished="api.finished"></overlay>
					<div data-ng-if="!api.finished" class="spinner">
						<spinner></spinner>
					</div>

					<div class="well image-top" data-spy="affix" data-offset-top="0">
						<div class="row">
							<ng-include src="widget.getTemplate('Search')"></ng-include>
							<ng-include src="widget.getTemplate('Widget')"></ng-include>
						</div>

						<div class="row">
							<div class="col-md-12">
								<ng-include src="widget.getTemplate('CurrentFilter')"></ng-include>
							</div>
						</div>
						<div class="row top10" data-ng-if="filterCtrl.renameCategory">
							<ng-include src="widget.getTemplate('RenameCategory')"></ng-include>
						</div>

						<div class="row top2" data-ng-if="widget.widgets.filter">
							<div class="col-md-12">
								<ng-include src="widget.getTemplate('Filter')"></ng-include>
							</div>
						</div>


						<ng-include src="widget.getTemplate('SolrIntegrity')"></ng-include>
						<ng-include src="widget.getTemplate('Integrity')"></ng-include>
						<ng-include src="widget.getTemplate('Clipboard')"></ng-include>
					</div>
					<div class="image-bottom">
						<ng-include src="widget.getTemplate('Result')"></ng-include>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>