<div class="row">
	<div class="col-md-12">
		<button class="btn btn-default" ng-click="imageSolrIntegrity.setSearch('*:*')">reset</button>
		<button class="btn btn-default" ng-click="imageSolrIntegrity.setSearch('-locations:[\'\' TO *]')">no locations</button>
		<button class="btn btn-default" ng-click="imageSolrIntegrity.setSearch('locations:none')">locations:none</button>
		<button class="btn btn-default" ng-click="imageSolrIntegrity.setSearch('-categories:[\'\' TO *]')">no categories</button>
		<button class="btn btn-default" ng-click="imageSolrIntegrity.setSearch('-mDateTime:[* TO *]')">no mDateTime</button>
		<button class="btn btn-default" ng-click="imageSolrIntegrity.setSearch('tags:[\'\' TO *] AND -tags:all')">all tags</button>
		<button class="btn btn-default" ng-click="imageSolrIntegrity.setSearch('tags:[\'\' TO *] AND -tags:lucky_bilderrahmen')">tagged but no lucky</button>
	</div>
</div>
