<form data-ng-submit="ratingFilterCtrl.update()">
	<div class="form-group">
		<div class="col-md-1">
			<label class="control-label" for="operator">operator</label>
			<select class="form-control" id="operator" type="text" data-ng-model="ratingFilterCtrl.rating.operator">
				<option value="=">=</option>
				<option value="<">&lt;</option>
				<option value=">">&gt;</option>
			</select>
		</div>
		<div class="col-md-1">
			<label class="control-label" for="filter">filter</label>
			<select class="form-control" id="filter" type="text" data-ng-model="ratingFilterCtrl.rating.filter">
				<option value="artist">artist</option>
				<option value="album">album</option>
				<option value="title">title</option>
			</select>
		</div>
		<div class="col-md-1">
			<label class="control-label" for="rating">rating</label>
			<select class="form-control" id="rating" type="text" data-ng-model="ratingFilterCtrl.rating.rating">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
		</div>
		<div class="col-md-1">
			<label class="control-label">&nbsp;</label>
			<input class="form-control btn btn-danger" type="submit" value="update" />
		</div>
	</div>
</form>