<div class="row">
	<div class="col-md-12">
		<button class="btn btn-default btn-xs" data-ng-click="mp3IpodAlbum.back()">&lt; back</button>
		Select Album
	</div>
</div>

<div class="row ">
	<div class="col-md-12">
		<select data-ng-if="mp3IpodAlbum.result.data"
				chosen options="mp3IpodAlbum.result.data"
				data-ng-change="mp3IpodAlbum.forward()"
				data-ng-model="mp3IpodAlbum.result.value"
				data-ng-options="data.key as data.value for data in mp3IpodAlbum.result.data">
		</select>
	</div>
</div>



