<div class="row">
	<div class="col-md-12">
		<button class="btn btn-default btn-xs" data-ng-click="mp3IpodArtist.back()">&lt; back</button>
		Select Artist
	</div>
</div>

<div class="row ">
	<div class="col-md-12">
		<select data-ng-if="mp3IpodArtist.result.data"
				chosen options="mp3IpodArtist.result.data"
				data-ng-change="mp3IpodArtist.forward()"
				data-ng-model="mp3IpodArtist.result.value"
				data-ng-options="data.key as data.value for data in mp3IpodArtist.result.data">
		</select>
	</div>
</div>



