
<link rel="stylesheet" href="{f:uri.resource(package: 'AchimFritz.Documents', path: 'Vendor/jquery-ui-1.10.3/jquery-ui.css')}" type="text/css" media="all" />
<link rel="stylesheet" href="{f:uri.resource(package: 'AchimFritz.Documents',path: 'Vendor/bootstrap-2.3/css/bootstrap.min.css')}" type="text/css" media="all" />
<link rel="stylesheet" href="{f:uri.resource(package: 'AchimFritz.Documents',path: 'Vendor/bootstrap-2.3/css/bootstrap-responsive.min.css')}" type="text/css" media="all" />
<link rel="stylesheet" href="{f:uri.resource(package: 'AchimFritz.Documents',path: 'Css/Loader.css')}" type="text/css" media="all" />
