<div class="row">
	<div class="col-md-5">
		<dir-pagination-controls on-page-change="nextPage(newPageNumber)"></dir-pagination-controls>	
	</div>
</div>
<h1>{{total}}xx</h1>

<div class="row">
	<div class="col-md-12">
		<div style="position: relative" >
			<div class="iso-item {{item.selected}}"  ng-click="itemClick(item)" dir-paginate="item in items | itemsPerPage: itemsPerPage" total-items="total" current-page="currentPage" >
				<img ng-src="{{item.webPreviewPath}}" />
			</div>
		</div>
</div>
</div>
