<f:layout name="Default" />

<f:section name="Title">Show document"{document.name}"</f:section>

<f:section name="Content">
	<div class="row">
		<span class="span8">
			<f:render partial="Document/Show" arguments="{document: document}" />
			<f:render partial="Document/Delete" arguments="{document: document}" />
		</span>
		<span class="span4">
			<h3>edit</h3>
			<f:render partial="Document/Edit" arguments="{document: document}" />
			<h3>add to category</h3>
			<f:render partial="Document/AddToCategory" arguments="{document: document}" />
		</span>
	</div>
</f:section>
