<f:layout name="Default" />

<f:section name="Title">Show document"{document.name}"</f:section>

<f:section name="Content">
	<div class="row">
		<span class="span8">
			<f:render partial="Document/Show" arguments="{document: document}" />
		</span>
		<span class="span4">
			<h5>edit</h5>
			<f:render partial="Document/Edit" arguments="{document: document}" />
			<f:link.action class="btn" action="index">Back</f:link.action>
			<f:render partial="Document/Delete" arguments="{document: document}" />
			<h5>add to category</h5>
			<div class="transferedElements documentList">
				<f:render partial="Document/List" arguments="{documents: {0: document}}" />
			</div>
			<f:render partial="Category/New" />
		</span>
	</div>
</f:section>
