<div class="row" data-ng-if="widget.widgets.filterNav">
	<div class="col-md-3">
		<h4>hPath</h4>
		<ul>
			<li ng-repeat="(key, value) in document.data.facet_counts.facet_fields.hPaths"
				ng-click="document.addFilterQuery('hPaths', key)">
				<nav-path ng-attr-path="{{key}}" ng-attr-facet="hPaths"></nav-path>
				({{value}})
			</li>
		</ul>
		<button class="btn btn-default btn-xs" ng-click="document.changeFacetSorting('hPaths', 'index')">index</button>
		<button class="btn btn-default btn-xs" ng-click="document.changeFacetSorting('hPaths', 'count')">count</button>
		<button class="btn btn-default btn-xs" ng-click="document.changeFacetCount('hPaths', 10)">more</button>
		<button class="btn btn-default btn-xs" ng-click="document.changeFacetCount('hPaths', -10)">less</button>
	</div>
</div>

