<div data-ng-if="widget.widgets.integrity">
	<div data-ng-controller="JobController as jobCtrl">

		<div data-ng-controller="IntegrityController as integrityCtrl">
			<toaster-container></toaster-container>

			<overlay finished="integrityCtrl.finished"></overlay>
			<div data-ng-if="!integrityCtrl.finished" class="spinner">
				<spinner></spinner>
			</div>
			<overlay finished="jobCtrl.finished"></overlay>
			<div data-ng-if="!jobCtrl.finished" class="spinner">
				<spinner></spinner>
			</div>

			<div class="row" data-ng-if="jobCtrl.job.status">
				<h4>Job Status: {{jobCtrl.job.status}}</h4>
				<div class="col-md-12">
					<pre>
						{{jobCtrl.job.log}}
					</pre>
				</div>
			</div>

			<div class="row">

				<div class="col-md-12" data-ng-if="integrityCtrl.view === 'list'">
					<button type="button" class="close" aria-label="Close" ng-click="widget.closeWidget('integrity')">
						<span aria-hidden="true">&times;</span></button>


					<div class="row">
						<div class="col-md-2">
							<input class="form-control" ng-model="jobCtrl.directory" type="text" />
						</div>
						<div class="col-md-2">
							<button ng-click="jobCtrl.createJob('copyAndInit', jobCtrl.directory)" class="btn btn-default btn-danger" >Copy And Init</button>
						</div>
					</div>

					<table class="table table-striped">
						<tr ng-repeat="integrity in integrityCtrl.integrities" data-ng-if="integrity.countDiffers">
							<td>{{integrity.name}}</td>
							<td>{{integrity.countFileSystem}}</td>
							<td>{{integrity.countSolr}}</td>
							<td ng-click="integrityCtrl.show(integrity.name)">
								<button class="btn btn-default btn-xs">show</button>
							</td>
						</tr>
					</table>

				</div>
				<div class="col-md-12" data-ng-if="integrityCtrl.view === 'show'">


					<div class="row">
						<button type="button" class="close" aria-label="Close" ng-click="widget.closeWidget('integrity')">
							<span aria-hidden="true">&times;</span></button>
						<div class="col-md-3">
							<table class="table table-striped">
								<tr>
									<td><strong>{{integrityCtrl.integrity.name}}</strong></td>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td>Count FS</td>
									<td>{{integrityCtrl.integrity.countFileSystem}}</td>
								</tr>
								<tr>
									<td>Count Solr</td>
									<td>{{integrityCtrl.integrity.countSolr}}</td>
								</tr>
								<tr>
									<td>Count Thumbs</td>
									<td>{{integrityCtrl.integrity.thumbs.length}}</td>
								</tr>
								<tr>
									<td>Count Persisted</td>
									<td>{{integrityCtrl.integrity.persistedDocuments.length}}</td>
								</tr>
							</table>
						</div>
						<div class="col-md-3">
							<table class="table table-striped">
								<tr>
									<td>timestamp initialized</td>
									<td>{{integrityCtrl.integrity.timestampsAreInitialized}}</td>
								</tr>
								<tr>
									<td>images rotated</td>
									<td>{{integrityCtrl.integrity.imageIsRotated}}</td>
								</tr>
								<tr>
									<td>is exif</td>
									<td>{{integrityCtrl.integrity.isExif}}</td>
								</tr>
								<tr>
									<td>geeqie metadata exists</td>
									<td>{{integrityCtrl.integrity.geeqieMetadataExists}}</td>
								</tr>
							</table>
						</div>
						<div class="col-md-3">
							<table class="table table-striped">
								<tr>
									<td>ready for rotation</td>
									<td>{{integrityCtrl.integrity.readyForRotation}}</td>
								</tr>
								<tr>
									<td>ready for thumbs</td>
									<td>{{integrityCtrl.integrity.readyForThumbs}}</td>
								</tr>
								<tr>
									<td>next Step</td>
									<td>{{integrityCtrl.integrity.nextStep}}</td>
								</tr>
							</table>
						</div>
						<div class="col-md-3">
							<h4>next Step: {{integrityCtrl.integrity.nextStep}}</h4>
							<button ng-hide="integrityCtrl.integrity.countDiffers"
									ng-click="document.addFilterQuery('mainDirectoryName', integrityCtrl.integrity.name)"
									class="btn btn-default btn-danger">solr
							</button>
							<button ng-show="integrityCtrl.integrity.countDiffers && integrityCtrl.integrity.nextStep != ''"
									ng-click="jobCtrl.createJob(integrityCtrl.integrity.nextStep, integrityCtrl.integrity.name)"
									class="btn btn-default btn-danger">create next Step {{integrityCtrl.integrity.nextStep}}
							</button>
							<div class="alert alert-info" role="alert"
								 ng-show="integrityCtrl.integrity.countDiffers && integrityCtrl.integrity.nextStep == ''">
								Opps no next step but no solr documents ... (maybe not exif nor a metadata file exists?)
							</div>
							<div class="alert alert-info" role="alert"
								 ng-show="integrityCtrl.integrity.countDiffers && integrityCtrl.integrity.nextStep == ''">
								although create thumbs (own risk)
							</div>
							<button ng-show="integrityCtrl.integrity.countDiffers && integrityCtrl.integrity.nextStep == ''"
									ng-click="jobCtrl.createJob('thumb', integrityCtrl.integrity.name)"
									class="btn btn-default btn-danger">create next Step thumb
							</button>
							<button ng-click="integrityCtrl.list()" class="btn btn-default">list</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>