<div data-ng-if="widget.widgets.solrIntegrity" class="row">

	<div class="col-md-12">
		<button type="button" class="close" aria-label="Close" ng-click="widget.closeWidget('solrIntegrity')"><span aria-hidden="true">&times;</span></button>

		<button class="btn btn-default" ng-click="document.setSearch('')">reset</button>
		<button class="btn btn-default" ng-click="document.setSearch('-locations:[\'\' TO *]')">no locations</button>
		<button class="btn btn-default" ng-click="document.setSearch('locations:none')">locations:none</button>
		<button class="btn btn-default" ng-click="document.setSearch('-categories:[\'\' TO *]')">no categories</button>
		<button class="btn btn-default" ng-click="document.setSearch('-mDateTime:[* TO *]')">no mDateTime</button>
		<button class="btn btn-default" ng-click="document.setSearch('tags:[\'\' TO *] AND -tags:all')">all tags</button>
		<button class="btn btn-default" ng-click="document.setSearch('tags:[\'\' TO *] AND -tags:lucky_bilderrahmen')">tagged but no lucky</button>
	</div>
</div>
