<div class="row">
	<div class="col-md-2">
		<span data-ng-if="document.params.sort === document.random">
	<button class="btn btn-default" data-ng-click="document.newRandom()">
		<span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
	</button>
</span>
	</div>
	<div class="col-md-9">
		<select class="form-control" id="sort" data-ng-model="document.params.sort" data-ng-change="document.update()">

			<option value="mDateTime desc">mDateTime desc</option>
			<option value="mDateTime asc">mDateTime asc</option>
			<option value="name asc">name asc</option>
			<option value="name desc">name desc</option>
			<option value="{{document.random}}">random</option>
		</select>
	</div>
</div>
