.hidden {
	display: none;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}


.iso-item .iso-img-item {
	padding: 3px;
	float: left;
}

.iso-item.selected .iso-img-item {
	padding: 1px;
	border: 2px solid black;
}

ul.pagination {
	margin: 0px;
}

ul.typo3-widget-paginator {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	padding: 0px;
	margin: 0px;
}

td.mp3-song-list-controls {
	min-width: 100px;
}

ul.draglist {
	display: inline-block;
	margin: 0 auto;
}

ul.typo3-widget-paginator li {
	display: inline;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
	width: 1250px;
}


div.overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #333;
  opacity: 0.8;
  filter: alpha(opacity=80);
  z-index: 999995;
}

.ui-autocomplete {
	z-index: 999999;
}

        [ng-drag] {
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        [ng-drag] {
            width: 64px;
            height: 48px;
            /*background: rgba(255, 0, 0, 0.5);*/
            /*color: white;*/
            text-align: center;
            padding-top: 0px;
            display: block;
            cursor: move;
        }

        [ng-drag].drag-over {
            border: solid 1px red;
        }

        [ng-drag].dragging {
            opacity: 0.5;
        }

        [ng-drop] {
            /*background: rgba(0, 0, 0, 0.25);*/
            text-align: center;
            display: block;
            position: relative;
            padding: 5px;
            width: 74px;
            height: 58px;
            float: left;
        }

        [ng-drop].drag-enter {
            border: solid 2px red;
        }

        [ng-drop] div {
            position: relative;
            z-index: 2;
        }
