
ul.draglist {
	display: inline-block;
	margin: 0 auto;
}

[ng-drag] {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

[ng-drag] {
	padding-top: 0px;
	/*display: block;*/
	cursor: move;
}

ul.imagelist [ng-drag] {
	text-align: center;
}


[ng-drag].drag-over {
	border: solid 1px black;
}

[ng-drag].dragging {
	opacity: 0.5;
}

ul.mp3list [ng-drop] {

}

ul.imagelist [ng-drop] {
	text-align: center;
	display: block;
	position: relative;
	padding: 5px;
	float: left;
}

[ng-drop].drag-enter {
	border: solid 2px black;
}

[ng-drop] div {
	position: relative;
	z-index: 2;
}