<script src="{f:uri.resource(package: 'AchimFritz.Documents', path: 'Vendor/jquery/jquery-1.10.2.min.js')}" type="text/javascript" ></script>
<script src="{f:uri.resource(package: 'AchimFritz.Documents', path: 'Vendor/bootstrap-2.3/js/bootstrap.min.js')}" type="text/javascript" ></script>
<script src="{f:uri.resource(package: 'AchimFritz.Documents', path: 'Vendor/jquery-ui-1.10.3/jquery-ui.js')}" type="text/javascript" ></script>

<!-- ajax solr js-->
<script src="{f:uri.resource(package: 'AchimFritz.Documents', path: 'Vendor/ajax-solr/core/Core.js')}" type="text/javascript"></script>
<script src="{f:uri.resource(package: 'AchimFritz.Documents', path: 'Vendor/ajax-solr/core/AbstractManager.js')}" type="text/javascript"></script>
<script src="{f:uri.resource(package: 'AchimFritz.Documents', path: 'Vendor/ajax-solr/core/Parameter.js')}" type="text/javascript"></script>
<script src="{f:uri.resource(package: 'AchimFritz.Documents', path: 'Vendor/ajax-solr/core/ParameterStore.js')}" type="text/javascript"></script>
<script src="{f:uri.resource(package: 'AchimFritz.Documents', path: 'Vendor/ajax-solr/core/AbstractWidget.js')}" type="text/javascript"></script> 
<script src="{f:uri.resource(package: 'AchimFritz.Documents', path: 'Vendor/ajax-solr/core/AbstractFacetWidget.js')}" type="text/javascript"></script>
<script src="{f:uri.resource(package: 'AchimFritz.Documents', path: 'Vendor/ajax-solr/core/AbstractTextWidget.js')}" type="text/javascript"></script>
<script src="{f:uri.resource(package: 'AchimFritz.Documents', path: 'Vendor/ajax-solr/widgets/jquery/PagerWidget.js')}" type="text/javascript"></script>
