<script src="{f:uri.resource(package: 'AchimFritz.Documents', path: 'JavaScript/Solr/HierarchicalFacet.js')}" type="text/javascript"></script>
<script src="{f:uri.resource(package: 'AchimFritz.Documents', path: 'JavaScript/Solr/Manager.js')}" type="text/javascript"></script>
<script src="{f:uri.resource(package: 'AchimFritz.Documents', path: 'JavaScript/Solr/Widgets/PathWidget.js')}" type="text/javascript"></script>
<script src="{f:uri.resource(package: 'AchimFritz.Documents', path: 'JavaScript/Solr/Widgets/FacetWidget.js')}" type="text/javascript"></script>
<script src="{f:uri.resource(package: 'AchimFritz.Documents', path: 'JavaScript/Solr/Widgets/LetterFacetWidget.js')}" type="text/javascript"></script>
<script src="{f:uri.resource(package: 'AchimFritz.Documents', path: 'JavaScript/Solr/Widgets/ResultWidget.js')}" type="text/javascript"></script>
<script src="{f:uri.resource(package: 'AchimFritz.Documents', path: 'JavaScript/Solr/Widgets/CurrentSearchWidget.js')}" type="text/javascript"></script>
<script src="{f:uri.resource(package: 'AchimFritz.Documents', path: 'JavaScript/Solr/Widgets/QueryWidget.js')}" type="text/javascript"></script>
