<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>App
		</title>
		<f:render partial="Resources" />
		<script src="{f:uri.resource(path: 'JavaScript/Solr/Manager.js')}" type="text/javascript" ></script>
		<script src="{f:uri.resource(package: 'AchimFritz.Resources', path: 'Vendor/angularjs/1.2.25/angular.min.js')}" type="text/javascript" ></script>
		<script src="{f:uri.resource(package: 'AchimFritz.Resources', path: 'Vendor/angularjs/1.2.25/angular-route.min.js')}" type="text/javascript" ></script>
		<script src="{f:uri.resource(package: 'AchimFritz.Resources', path: 'Vendor/isotope-2.1.0/isotope.pkgd.min.js')}" type="text/javascript" ></script>
		<script src="{f:uri.resource(package: 'AchimFritz.Resources', path: 'Vendor/angular-utils-pagination/dirPagination.js')}" type="text/javascript" ></script>

		<script src="{f:uri.resource(path: 'JavaScript/App/DocumentApp.js')}" type="text/javascript" ></script>
		<script src="{f:uri.resource(path: 'JavaScript/App/Directive/IsoContainer.js')}" type="text/javascript" ></script>
		<script src="{f:uri.resource(path: 'JavaScript/App/Service/SelectableService.js')}" type="text/javascript" ></script>
		<script src="{f:uri.resource(path: 'JavaScript/App/Factory/DocumentFactory.js')}" type="text/javascript" ></script>
		<script src="{f:uri.resource(path: 'JavaScript/App/Factory/SolrFactory.js')}" type="text/javascript" ></script>
		<script src="{f:uri.resource(path: 'JavaScript/App/Controller/SettingsController.js')}" type="text/javascript" ></script>
		<script src="{f:uri.resource(path: 'JavaScript/App/Controller/ClipboardController.js')}" type="text/javascript" ></script>
		<script src="{f:uri.resource(path: 'JavaScript/App/Controller/ListController.js')}" type="text/javascript" ></script>
		<script src="{f:uri.resource(path: 'JavaScript/App/Controller/NavigationController.js')}" type="text/javascript" ></script>
		<link rel="stylesheet" href="{f:uri.resource(path: 'Css/Documents.css')}" type="text/css" media="all" />
		<f:base />
	</head>
	<body style="padding-top: 70px;">
		<f:render section="Content" />
	</body>
</html>
