<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>App14
		</title>
		<link rel="stylesheet" href="{f:uri.resource(path: 'Build-1.4/Libs.css')}" type="text/css" media="all" />
		<link rel="stylesheet" href="{f:uri.resource(path: 'Build-1.4/Main.css')}" type="text/css" media="all" />
		<script src="{f:uri.resource(path: 'Build-1.4/Libs.js')}" type="text/javascript" ></script>
		<script src="{f:uri.resource(path: 'Build-1.4/Main.js')}" type="text/javascript" ></script>
		<f:base />
	</head>
	<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><f:link.action action="index">home</f:link.action></li>
				<li><f:link.action action="urlbuilder">urlbuilder</f:link.action></li>
				<li><f:link.action action="document">document</f:link.action></li>
				<li><f:link.action action="mp3">mp3</f:link.action></li>
				<li><f:link.action action="mp3list">mp3 lists</f:link.action></li>
				<li><f:link.action action="mp3ipad">mp3 ipad</f:link.action></li>
				<li><f:link.action action="image">image</f:link.action></li>
				<li><f:link.action action="imagelist">image lists</f:link.action></li>
			</ul>
		</div>
	</nav>
		<f:render section="Content" />
	</body>
</html>
