<toaster-container></toaster-container>

<overlay finished="finished"></overlay>
<div data-ng-if="!finished" class="spinner">
   <spinner></spinner>
</div>

<div class="row">
   <div class="col-md-2">
   </div>
   <div class="col-md-5">
      <dir-pagination-controls on-page-change="nextPage(newPageNumber)"></dir-pagination-controls>
   </div>
   <div class="col-md-1">
      <div class="radio">
         <label>
            <input  type="radio" ng-model="mode" value="view">View Mode
         </label>
      </div>
   </div>
   <div class="col-md-1">
      <div class="radio">
         <label>
            <input id="select-mode" type="radio" ng-model="mode" value="select">Select Mode
         </label>
      </div>
   </div>

</div>


<div class="row">
	<div class="col-md-12">
		<div style="position: relative" >
			<div class="iso-item {{item.selected}}"  ng-click="itemClick(item)" dir-paginate="item in items | itemsPerPage: itemsPerPage" total-items="total" current-page="currentPage" >
				<img ng-src="{{item.webPreviewPath}}" />
			</div>
		</div>
</div>
</div>
