<h2>{category.path}</h2>
<h3>documents</h3>
<f:if condition="{category.documents}">
	<f:then>
	<table class="table table-striped">
		<f:for each="{category.documents}" as="document">
			<tr>
				<td>
					<f:link.action action="index" controller="Document" arguments="{document: document}">{document.name}</f:link.action>
				</td>
				<td>
					<f:form action="index" controller="Document" arguments="{document: document}">
						<f:form.hidden name="__method" value="DELETE" />
						<f:form.submit value="Delete" class="btn btn-danger btn-xs" />
					</f:form>
				</td>
				<td>
					<f:form action="index" controller="Category" arguments="{category: category}">
						<f:form.hidden name="__method" value="DELETE" />
						<f:form.submit value="Remove TODO" class="btn btn-danger btn-xs" />
					</f:form>
				</td>
			</tr>
		</f:for>
	</table>

	</f:then>
	<f:else>
		<p>no documents</p>
	</f:else>
</f:if>
