<div class="row form-group" ng-show="form !== ''">
	<div class="col-md-6">
		<input class="form-control" id="tagPath" type="text" data-ng-model="tagPath" data-autocomplete data-global="true" />
	</div>
	<div class="col-md-3">
		<input class="form-control btn btn-danger" type="submit" ng-click="writeTag()" value="write Id3 Tag" />
	</div>
	<div class="col-md-2">
		<input class="form-control btn btn-danger" type="submit" ng-click="showForm('')" value="Cancel" />
	</div>
</div>
<div class="row form-group" ng-show="form !== ''">
	<div class="col-md-4">
		<input class="form-control" type="text" data-ng-model="zip.name" />
	</div>
	<div class="col-md-2 checkbox">
		<label>
			<input type="checkbox" value="1" data-ng-model="zip.useFullPath" />Full Path
		</label>
	</div>
	<div class="col-md-3">
		<input class="form-control btn btn-danger" type="submit" ng-click="zipDownload()" value="Zip Download" />
	</div>
	<div class="col-md-2">
		<input class="form-control btn btn-danger" type="submit" ng-click="showForm('')" value="Cancel" />
	</div>
</div>

