                     Artist: 
                        <button ng-click="rate('artist', 1)" class="btn btn-xs btn-default">1</button>
                        <button ng-click="rate('artist', 2)" class="btn btn-xs btn-default">2</button>
                        <button ng-click="rate('artist', 3)" class="btn btn-xs btn-default">3</button>
                        <button ng-click="rate('artist', 4)" class="btn btn-xs btn-default">4</button>
                        <button ng-click="rate('artist', 5)" class="btn btn-xs btn-default">5</button>
                        <button ng-click="rate('artist', 6)" class="btn btn-xs btn-default">6</button>

