<button ng-show="filterNavView == 'artist'" class="btn btn-default btn-xs btn-info">Artist</button>
<button ng-hide="filterNavView == 'artist'" class="btn btn-default btn-xs" ng-click="setFilterNavView('artist')">Artist</button>
<button ng-show="filterNavView == 'album'" class="btn btn-default btn-xs btn-info">Album</button>
<button ng-hide="filterNavView == 'album'" class="btn btn-default btn-xs" ng-click="setFilterNavView('album')">Album</button>
<button ng-show="filterNavView == 'fsArtist'" class="btn btn-default btn-xs btn-info">FS Artist</button>
<button ng-hide="filterNavView == 'fsArtist'" class="btn btn-default btn-xs" ng-click="setFilterNavView('fsArtist')">FS Artist</button>
<button ng-show="filterNavView == 'fsAlbum'" class="btn btn-default btn-xs btn-info">FS Album</button>
<button ng-hide="filterNavView == 'fsAlbum'" class="btn btn-default btn-xs" ng-click="setFilterNavView('fsAlbum')">FS Album</button>


