<ul ng-show="filterNavView == 'artist'">
	<li ng-repeat="(key, value) in data.facet_counts.facet_fields.artist" ng-click="addFilterQuery('artist', key)">
		<nav-path ng-attr-path="{{key}}" ng-attr-facet="artist" ng-attr-length="26"></nav-path>
		({{value}})
	</li>
</ul>
<div ng-show="filterNavView == 'artist'">
	<label class="control-label" for="filterSort">sort:</label>
	<select class="form-control" id="filterSort" ng-model="settings.f_artist_facet_sort" ng-change="update()">
		<option value="index">index</option>
		<option value="count">count</option>
	</select>
</div>


<ul ng-show="filterNavView == 'album'">
	<li ng-repeat="(key, value) in data.facet_counts.facet_fields.album" ng-click="addFilterQuery('album', key)">
		<nav-path ng-attr-path="{{key}}" ng-attr-facet="album" ng-attr-length="26"></nav-path>
		({{value}})
	</li>
</ul>

<ul ng-show="filterNavView == 'fsArtist'">
	<li ng-repeat="(key, value) in data.facet_counts.facet_fields.fsArtist" ng-click="addFilterQuery('fsArtist', key)">
		<nav-path ng-attr-path="{{key}}" ng-attr-facet="fsArtist" ng-attr-length="26"></nav-path>
		({{value}})
	</li>
</ul>

<ul ng-show="filterNavView == 'fsAlbum'">
	<li ng-repeat="(key, value) in data.facet_counts.facet_fields.fsAlbum" ng-click="addFilterQuery('fsAlbum', key)">
		<nav-path ng-attr-path="{{key}}" ng-attr-facet="fsAlbum" ng-attr-length="26"></nav-path>
		({{value}})
	</li>
</ul>


