<button type="button" class="close" aria-label="Close" ng-click="hideInfo()"><span aria-hidden="true">&times;</span></button>
<table class="table table-striped">
	<tr>
		<td>Track ({{infoDoc.trackRating}})</td>
		<td>
			<button ng-click="rate('track', 1, infoDoc.name)" class="btn btn-xs btn-default">1</button>
			<button ng-click="rate('track', 2, infoDoc.name)" class="btn btn-xs btn-default">2</button>
			<button ng-click="rate('track', 3, infoDoc.name)" class="btn btn-xs btn-default">3</button>
			<button ng-click="rate('track', 4, infoDoc.name)" class="btn btn-xs btn-default">4</button>
			<button ng-click="rate('track', 5, infoDoc.name)" class="btn btn-xs btn-default">5</button>
			<button ng-click="rate('track', 6, infoDoc.name)" class="btn btn-xs btn-default">6</button>
		</td>
	</tr>
	<tr>
		<td>Artist ({{infoDoc.artistRating}})</td>
		<td>
			<button ng-click="rate('artist', 1, infoDoc.artist)" class="btn btn-xs btn-default">1</button>
			<button ng-click="rate('artist', 2, infoDoc.artist)" class="btn btn-xs btn-default">2</button>
			<button ng-click="rate('artist', 3, infoDoc.artist)" class="btn btn-xs btn-default">3</button>
			<button ng-click="rate('artist', 4, infoDoc.artist)" class="btn btn-xs btn-default">4</button>
			<button ng-click="rate('artist', 5, infoDoc.artist)" class="btn btn-xs btn-default">5</button>
			<button ng-click="rate('artist', 6, infoDoc.artist)" class="btn btn-xs btn-default">6</button>
		</td>
	</tr>
	<tr>
		<td>Album ({{infoDoc.albumRating}})</td>
		<td>
			<button ng-click="rate('album', 1, infoDoc.album)" class="btn btn-xs btn-default">1</button>
			<button ng-click="rate('album', 2, infoDoc.album)" class="btn btn-xs btn-default">2</button>
			<button ng-click="rate('album', 3, infoDoc.album)" class="btn btn-xs btn-default">3</button>
			<button ng-click="rate('album', 4, infoDoc.album)" class="btn btn-xs btn-default">4</button>
			<button ng-click="rate('album', 5, infoDoc.album)" class="btn btn-xs btn-default">5</button>
			<button ng-click="rate('album', 6, infoDoc.album)" class="btn btn-xs btn-default">6</button>
		</td>
	</tr>
</table>

<table class="table table-striped">
	<tr>
		<td>Title</td>
		<td>
			<strong ng-hide="infoDoc.title" class="text-danger">!</strong>
			<span ng-show="infoDoc.title" editable-text="infoDoc.title" onaftersave="updateId3Tag($data, 'title', infoDoc.identifier)">{{infoDoc.title}}</span>
			<span ng-hide="infoDoc.title" editable-text="infoDoc.fsTitle" onaftersave="updateId3Tag($data, 'title', infoDoc.identifier)">{{infoDoc.fsTitle}}</span>
		</td>
	</tr>
	<tr>
		<td>Track</td>
		<td>{{infoDoc.track}}</td>
	</tr>
	<tr>
		<td>Artist</td>
		<td>
			<span ng-show="infoDoc.artist" editable-text="infoDoc.artist" onaftersave="updateId3Tag($data, 'artist', infoDoc.identifier)">{{infoDoc.artist}}</span>
			<span ng-hide="infoDoc.artist" editable-text="infoDoc.fsArtist" onaftersave="updateId3Tag($data, 'artist', infoDoc.identifier)">{{infoDoc.fsArtist}}</span>
			<strong ng-hide="infoDoc.artist" class="text-danger">!</strong>
		</td>
	</tr>
	<tr>
		<td>Album</td>
		<td>
			<span ng-show="infoDoc.album" editable-text="infoDoc.album" onaftersave="updateId3Tag($data, 'album', infoDoc.identifier)">{{infoDoc.album}}</span>
			<span ng-hide="infoDoc.album" editable-text="infoDoc.fsAlbum" onaftersave="updateId3Tag($data, 'album', infoDoc.identifier)">{{infoDoc.fsAlbum}}</span>
			<strong ng-hide="infoDoc.album" class="text-danger">!</strong>
		</td>
	</tr>
	<tr>
		<td>Genre</td>
		<td>
			<span editable-text="infoDoc.genre" onaftersave="updateId3Tag($data, 'genre', infoDoc.identifier)">{{infoDoc.genre}}</span> / {{infoDoc.genreId}}
			<strong ng-hide="infoDoc.genre" class="text-danger">!</strong>
		</td>
	</tr>
	<tr>
		<td>Year</td>
		<td>
			<span editable-text="infoDoc.year" onaftersave="updateId3Tag($data, 'year', infoDoc.identifier)">{{infoDoc.year}}</span>
			<strong ng-hide="infoDoc.year" class="text-danger">!</strong>
		</td>
	</tr>
</table>
<table class="table table-striped">
	<tr>
		<td colspan="2">
			{{infoDoc.name}}
		</td>
	</tr>
	<tr>
		<td>Provider</td>
		<td>{{infoDoc.fsProvider}}</td>
	</tr>
	<tr>
		<td>fsTitle</td>
		<td>{{infoDoc.fsTitle}}</td>
	</tr>
	<tr>
		<td>fsTrack</td>
		<td>{{infoDoc.fsTrack}}</td>
	</tr>
	<tr>
		<td>fsArtist</td>
		<td>{{infoDoc.fsArtist}}</td>
	</tr>
	<tr>
		<td>fsAlbum</td>
		<td>{{infoDoc.fsAlbum}}</td>
	</tr>
	<tr>
		<td>fsGenre</td>
		<td>{{infoDoc.fsGenre}}</td>
	</tr>
</table>

