<nav class="navbar navbar-default navbar-static">
	<div class="container-fluid">

		<div class="collapse navbar-collapse bs-example-js-navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button"
					   aria-expanded="false">
						lists
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
						<li role="presentation" ng-repeat="(key, value) in data.facet_counts.facet_fields.hPaths">
							<a href="javascript:void()" ng-click="addFilterQuery('hPaths', key)">
								<nav-path ng-attr-path="{{key}}" ng-attr-facet="hPaths"></nav-path>
								({{value}})
							</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button"
					   aria-expanded="false">
						fsGenre
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
						<li role="presentation" ng-repeat="(key, value) in data.facet_counts.facet_fields.fsGenre">
							<a href="javascript:void()" ng-click="addFilterQuery('fsGenre', key)">
								<nav-path ng-attr-path="{{key}}" ng-attr-facet="fsGenre"></nav-path>
								({{value}})
							</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button"
					   aria-expanded="false">
						fsProvider
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
						<li role="presentation" ng-repeat="(key, value) in data.facet_counts.facet_fields.fsProvider">
							<a href="javascript:void()" ng-click="addFilterQuery('fsProvider', key)">
								<nav-path ng-attr-path="{{key}}" ng-attr-facet="fsProvider"></nav-path>
								({{value}})
							</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button"
					   aria-expanded="false">
						genre
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
						<li role="presentation" ng-repeat="(key, value) in data.facet_counts.facet_fields.genre">
							<a href="javascript:void()" ng-click="addFilterQuery('genre', key)">
								<nav-path ng-attr-path="{{key}}" ng-attr-facet="genre"></nav-path>
								({{value}})
							</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button"
					   aria-expanded="false">
						year
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
						<li role="presentation" ng-repeat="(key, value) in data.facet_counts.facet_fields.year">
							<a href="javascript:void()" ng-click="addFilterQuery('year', key)">
								<nav-path ng-attr-path="{{key}}" ng-attr-facet="year"></nav-path>
								({{value}})
							</a>
						</li>
					</ul>
				</li>
				<li>
					<form novalidate class="navbar-form navbar-left navbar-input-group" ng-submit="update(search)">
						<div class="form-group">
							<label class="control-label" for="search">search: </label>
							<input class="form-control" id="search" type="text" data-autocomplete
								   data-ng-model="search"/>
						</div>
						<div class="form-group">
							<label class="control-label" for="submit">&nbsp;</label>
							<input type="submit" id="submit" value="Submit" class="form-control btn btn-default"/>
						</div>
						<div class="form-group">
							<label class="control-label" for="rows">rows: </label>
							<input type="text" class="form-control" id="rows" data-ng-model="settings.rows"
								   ng-change="update()"/>
						</div>
						<div class="form-group">
							<label class="control-label" for="facet_limit">facet.limit: </label>
							<input type="text" class="form-control" id="facet_limit"
								   data-ng-model="settings.facet_limit" ng-change="update()"/>
						</div>
						<!--
						<div class="form-group">
							<label class="control-label" for="sort">sort: </label>
							<input type="text" class="form-control" id="sort"
								   data-ng-model="settings.sort" ng-change="update()"/>
						</div>
						-->
						<div class="form-group">
							<label class="control-label" for="sort">sort: </label>
							<select class="form-control" id="sort" data-ng-model="settings.sort" ng-change="update()">
								<option value="artist asc, album asc, track asc">Artist, Album, Track</option>
								<option value="track asc">track asc</option>
								<option value="track desc">track desc</option>
								<option value="artist asc">artist asc</option>
							</select>
						</div>
					</form>
		</li>
		</ul>
	</div>
	<!-- /.nav-collapse -->
	</div><!-- /.container-fluid -->
</nav> <!-- /navbar-example -->

