<button play-music class="btn btn-default"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
<button pause-music class="btn btn-default"><span class="glyphicon glyphicon-pause" aria-hidden="true"></span></button>
<button stop-music class="btn btn-default"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span></button>
<button prev-track class="btn btn-default"><span class="glyphicon glyphicon-backward" aria-hidden="true"></span></button>
<button next-track class="btn btn-default"><span class="glyphicon glyphicon-forward" aria-hidden="true"></span></button>
<button ng-show="repeat == false" repeat-music class="btn btn-default"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span></button>
<button ng-show="repeat == true" repeat-music class="btn btn-primary"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span></button>
<button clear-playlist class="btn btn-default"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>

