<table set-playlist class="table small-table">
	<tr ng-repeat="song in playlist" ng-class="{true: 'alert alert-info'}[currentPlaying.id == song.id]">
		<td>
			<button play-from-playlist="song" class="btn btn-default btn-xs">
				<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
			</button>
			<button class="btn btn-default btn-xs" remove-from-playlist="song" data-index="{{$index}}">
				<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
			</button>
			<button class="btn btn-default btn-xs" ng-click="showInfo(song.doc)">
				<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
			</button>
		</td>
		<td>
			{{song.doc.title}}
		</td>
	</tr>
</table>

