
		<table class="table table-striped asmall-table">
			<tr dir-paginate="doc in mp3Index.data.response.docs | itemsPerPage: mp3Index.params.rows" total-items="mp3Index.data.response.numFound">
				<td class="mp3-song-list-controls">
					<button class="btn btn-default btn-xs" data-ng-click="mp3Index.musicPlayerService.playOne(doc)">
						<span class="glyphicon glyphicon-play" aria-hidden="true" ></span>
					</button>
					<button class="btn btn-default btn-xs" data-ng-click="mp3Index.musicPlayerService.addOne(doc)">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					</button>
					<button class="btn btn-default btn-xs" ng-click="mp3Index.editDoc(doc)">
						<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
					</button>
				</td>

				<td>
					<button data-ng-if="doc.artist" class="btn btn-default btn-xs" ng-click="mp3Index.solr.addFilterQueryAndUpdate('artist', doc.artist)">
						<span class="glyphicon  glyphicon-search" aria-hidden="true"></span>
					</button>
					<button data-ng-if="!doc.artist" class="btn btn-default btn-xs" ng-click="mp3Index.solr.addFilterQueryAndUpdate('fsArtist', doc.fsArtist)">
						<span class="glyphicon  glyphicon-search" aria-hidden="true"></span>
					</button>

					<span data-ng-if="doc.artist">{{doc.artist.substr(0, 30)}}</span>
					<span data-ng-if="!doc.artist">{{doc.fsArtist.substr(0, 30)}}</span>
					<strong data-ng-if="!doc.artist" class="text-danger">!</strong>
				</td>
				<td>

					<button data-ng-if="doc.album" class="btn btn-default btn-xs" ng-click="mp3Index.solr.addFilterQueryAndUpdate('album', doc.album)">
						<span class="glyphicon  glyphicon-search" aria-hidden="true"></span>
					</button>
					<button data-ng-if="!doc.album" class="btn btn-default btn-xs" ng-click="mp3Index.solr.addFilterQueryAndUpdate('fsAlbum', doc.fsAlbum)">
						<span class="glyphicon  glyphicon-search" aria-hidden="true"></span>
					</button>
					<img  data-ng-if="doc.webThumbPath" data-ng-src="{{doc.webThumbPath}}"
						  alt="{{doc.title}}" width="20"/>
					<span data-ng-if="doc.album">{{doc.album.substr(0, 30)}}</span>
					<span data-ng-if="!doc.album">{{doc.fsAlbum.substr(0, 30)}}</span>
					<strong data-ng-if="!doc.album" class="text-danger">!</strong>
				</td>

				<td>
					<span data-ng-if="doc.track" >{{("00" + doc.track).substr(-2, 2)}}</span>
					<span data-ng-if="!doc.track" >{{("00" + doc.fsTrack).substr(-2, 2)}}</span>
					<strong data-ng-if="!doc.track" class="text-danger">!</strong>
					<span data-ng-if="doc.title" >{{doc.title.substr(0, 30)}}</span>
					<span data-ng-if="!doc.title" >{{doc.fsTitle.substr(0, 30)}}</span>
					<strong data-ng-if="!doc.title" class="text-danger">!</strong>
				</td>
			</tr>
		</table>