Track: 
<button ng-click="rate('track', 1, currentPlaying)" class="btn btn-xs btn-default">1</button>
<button ng-click="rate('track', 2, currentPlaying)" class="btn btn-xs btn-default">2</button>
<button ng-click="rate('track', 3, currentPlaying)" class="btn btn-xs btn-default">3</button>
<button ng-click="rate('track', 4, currentPlaying)" class="btn btn-xs btn-default">4</button>
<button ng-click="rate('track', 5, currentPlaying)" class="btn btn-xs btn-default">5</button>
<button ng-click="rate('track', 6, currentPlaying)" class="btn btn-xs btn-default">6</button>

