<f:layout name="Default" />
<f:section name="Content">
	<h1>
	path: {path} <span class="icon-pencil app-showEditCategoryPaths" data-path="{path}"></span> <span class="icon-remove app-showDeleteCategoryPath" data-path="{path}"></span>
	</h1>
<f:if condition="{found}">
	<div class="row actions">
			<f:render partial="CategoryPath/Delete" arguments="{path: path}" />
			<f:render partial="CategoryPaths/Edit" arguments="{path: path}" />
	</div>
	<f:if condition="{categories}">
		<h4>Childs</h4>
		<ul>
			<f:for each="{categories}" as="category">
				<li>
					<f:link.action action="show" arguments="{path: category.path}">{category.path}</f:link.action>
				</li>
			</f:for>
		</ul>
	</f:if>
	<f:if condition="{self}">
		<div class="row">
			<span class="span6">
				<h4>Documents</h4>
					<f:if condition="{self.documents}">
						<f:then>
							<f:render partial="Document/List" arguments="{documents: self.documents}" />
						</f:then>
						<f:else>
							-
						</f:else>
					</f:if>
			</span>
			<span class="span6">
				<h4>Clipboard</h4>
				<f:render partial="TransferableArea" />
				<f:render partial="Category/New" />
				<f:render partial="CategoryDiff/Edit" arguments="{path: path}" />
			</span>
	</f:if>
</f:if>
</f:section>
