<f:layout name="App" />

<f:section name="Content">
	<div ng-app="imageApp">
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<ul class="nav navbar-nav">
					<li><a data-ng-href="/achimfritz.documents/app/image#index">index</a></li>
					<li><a data-ng-href="/achimfritz.documents/app/image#filter">filter</a></li>
					<li><a data-ng-href="/achimfritz.documents/app/image#clipboard">clipboard</a></li>
					<li><a data-ng-href="/achimfritz.documents/app/image#solrIntegrity">solr integrity</a></li>
					<li><a data-ng-href="/achimfritz.documents/app/image#integrity">fs integrity</a></li>
					<li><a data-ng-href="/achimfritz.documents/app/image#documentList">documentList</a></li>
					<li><a data-ng-href="/achimfritz.documents/app/image#search">search</a></li>
				</ul>
			</div>
		</nav>
		<div class="container-full" style="padding-top: 70px;">
					<div data-ng-view class="ngview" autoscroll="true"></div>
		</div>
	</div>
	<script src="{f:uri.resource(path: 'Build/Image.js')}" type="text/javascript" ></script>
</f:section>

