<form novalidate class="simple-form" ng-submit="update(search)">
	<div class="form-group row">
		<div class="col-md-2">
		</div>
		<div class="col-md-3">
			<label class="control-label" for="search">search: </label>
			<input class="form-control" id="search" type="text" data-autocomplete data-ng-model="search" />
		</div>
		<div class="col-md-1">
			<label class="control-label" for="submit">&nbsp;</label>
			<input type="submit" id="submit" value="Submit" class="form-control btn btn-default" />
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
			<label class="control-label" for="rows">rows: </label>
			<input type="text" class="form-control" id="rows" data-ng-model="settings.rows" ng-change="update()" />
		</div>
		<div class="col-md-1">
			<label class="control-label" for="facet_limit">facet.limit: </label>
			<input type="text" class="form-control" id="facet_limit" data-ng-model="settings.facet_limit" ng-change="update()" />
		</div>
		<div class="col-md-1">
			<label class="control-label" for="sort">sort: </label>
			<select class="form-control" id="sort" data-ng-model="settings.sort" ng-change="update()">
				<option value="mDateTime desc">mDateTime desc</option>
				<option value="mDateTime asc">mDateTime asc</option>
				<option value="name desc">name desc</option>
				<option value="name asc">name asc</option>
			</select>
		</div>
	</div>
</form>

<ul ng-repeat="(key, values) in filterQueries">
	<li ng-repeat="value in values">
		<span ng-click="rmFilterQuery(key, value)">
		{{key}}
		<filter-query ng-attr-path="{{value}}" ng-attr-facet="{{key}}" />
		</span>
	</li>
</ul>

<p>results: {{data.response.numFound}}</p>
<ul>
	<li ng-repeat="doc in data.response.docs">
		{{doc.name}}
	</li>
</ul>

<div class="row">
<div class="col-md-3" ng-repeat="(facet, result) in data.facet_counts.facet_fields">
		<h4>{{facet}}</h4>
		<ul>
			<li ng-repeat="(key, value) in result" ng-click="addFilterQuery(facet, key)">
				<nav-path ng-attr-path="{{key}}" ng-attr-facet="{{facet}}"></nav-path>
				({{value}})
			</li>
		</ul>
</div>
</div>
