<f:layout name="Default" />

<f:section name="Title">Image Integrity of {integrity.name}</f:section>
<f:section name="Content">
<div class="row">
	<div class="col-md-4">
		<h2>Persisted</h2>
		<ul>
			<f:for each="{integrity.persistedDocuments}" as="document">
				<li>{document.fileName}</li>
			</f:for>
		</ul>
	</div>
	<div class="col-md-4">
		<h2>Solr</h2>
		<ul>
			<f:for each="{integrity.solrDocuments}" as="document">
				<li>{document}</li>
			</f:for>
		</ul>
	</div>
	<div class="col-md-4">
		<h2>FileSystem</h2>
		<ul>
			<f:for each="{integrity.filesystemDocuments}" as="document">
				<li>{document}</li>
			</f:for>
		</ul>
	</div>
</div>
</f:section>
