.hidden {
	display: none;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.iso-item {
	padding: 3px;
}

.iso-item.selected {
	padding: 1px;
	border: 2px solid black;
}

ul.pagination {
	margin: 0px;
}



ul.typo3-widget-paginator {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	padding: 0px;
	margin: 0px;
}

ul.typo3-widget-paginator li {
	display: inline;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
	width: 1250px;
}
