	<h2>{document.name}</h2>
	<h3>Categories</h3>
	<f:if condition="{document.categories}">
		<f:then>
			<table class="table table-striped">
				<f:for each="{document.categories}" as="category">
					<tr>
						<td>
							<f:link.action action="index" controller="Category" arguments="{category: category}">{category.path}</f:link.action>
						</td>
						<td>
							<f:form action="index" controller="Category" arguments="{category: category}">
								<f:form.hidden name="__method" value="DELETE" />
								<f:form.submit value="Delete" class="btn btn-danger btn-xs" />
							</f:form>
						</td>
						<td>
							<f:form action="index" controller="Category" arguments="{category: category}">
								<f:form.hidden name="__method" value="DELETE" />
								<f:form.submit value="Remove TODO" class="btn btn-danger btn-xs" />
							</f:form>
						</td>
					</tr>
				</f:for>
			</table>
		</f:then>
		<f:else>
			<p>no categories</p>
		</f:else>
	</f:if>

