<toaster-container></toaster-container>

<overlay finished="finished"></overlay>
<div data-ng-if="!finished" class="spinner">
	<spinner></spinner>
</div>

<ng-include src="'/_Resources/Static/Packages/AchimFritz.Documents/JavaScript/Mp3/Partials/Nav.html'"></ng-include>


<div class="row">
  <div class="col-md-12">
		<ng-include src="'/_Resources/Static/Packages/AchimFritz.Documents/JavaScript/Mp3/Partials/LetterNav.html'"></ng-include>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
		<ng-include src="'/_Resources/Static/Packages/AchimFritz.Documents/JavaScript/Mp3/Partials/CurrentFilter.html'"></ng-include>
	</div>
</div>

<div class="row">
	<div class="col-md-2" ng-hide="infoDoc">
		<ng-include src="'/_Resources/Static/Packages/AchimFritz.Documents/JavaScript/Mp3/Partials/FilterNav.html'"></ng-include>
	</div>
	<div class="col-md-2" ng-show="infoDoc">
				<ng-include src="'/_Resources/Static/Packages/AchimFritz.Documents/JavaScript/Mp3/Partials/InfoDoc.html'"></ng-include>
	</div>

	<div class="col-md-6">
		<div class="row">
			<div class="col-md-12">
				<ng-include src="'/_Resources/Static/Packages/AchimFritz.Documents/JavaScript/Mp3/Partials/ResultHead.html'"></ng-include>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<ng-include src="'/_Resources/Static/Packages/AchimFritz.Documents/JavaScript/Mp3/Partials/ResultTable.html'"></ng-include>
			</div>
		</div>
	</div>

	<div class="col-md-3">
		<!-- init soundManager2 player -->
		<sound-manager></sound-manager>
		<ng-include src="'/_Resources/Static/Packages/AchimFritz.Documents/JavaScript/Mp3/Partials/Actions.html'"></ng-include>
		
		<div class="row">
			<div class="col-md-12">
				<ng-include src="'/_Resources/Static/Packages/AchimFritz.Documents/JavaScript/Mp3/Partials/PlayerControls1.html'"></ng-include>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<ng-include src="'/_Resources/Static/Packages/AchimFritz.Documents/JavaScript/Mp3/Partials/PlayerControls2.html'"></ng-include>
			</div>
		</div>


		<div class="row" ng-show="currentPlaying && playlist.length">
			<div class="col-md-6" ng-show="currentPlaying.doc.webThumbPath">
				<img ng-src="{{currentPlaying.doc.webThumbPath}}" alt="{{currentPlaying.doc.title}}" width="200" height"200" />
			</div>
			<div class="col-md-6">
				<ng-include src="'/_Resources/Static/Packages/AchimFritz.Documents/JavaScript/Mp3/Partials/CurrentPlaying.html'"></ng-include>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<ng-include src="'/_Resources/Static/Packages/AchimFritz.Documents/JavaScript/Mp3/Partials/PlaylistTable.html'"></ng-include>
			</div>
		</div>
	</div>
</div>

