<div class="row">
        <div class="col-md-4">

            <h5>Songs</h5>
            <ul>
                <li ng-repeat="song in songs">
                    <button music-player data-type="playTrack" data-song="{{ $index }}" all-songs="songs"
                            my-playlist="playlist">{{ song.title }}
                    </button>
                    <button music-player data-type="addToPlaylist" data-song="{{ $index }}" all-songs="songs"
                            my-playlist="playlist">+
                    </button>
                </li>
            </ul>

            <button play-all="songs" my-playlist="playlist">Play all</button>

        </div>


        <div class="col-md-4">
            <!-- init soundManager2 player -->
            <sound-manager></sound-manager>

            <p>
                Currently Playing: {{ currentPlaying.title }} ({{ currentPostion }} / {{ currentDuration }})
            </p>

            <div class="seekBase" seek-track>
                <div class="seekLoad" ng-style="{width : ( progress + '%' ) }"></div>
            </div>
            <br />
            <button play-music>Play</button>
            -
            <button pause-music>Pause</button>
            -
            <button stop-music>Stop</button>
            -
            <button repeat-music>Repeat ({{ repeat }})</button>
            <br/>
            <br/>
            Volume: {{ volume }}
            -
            <button music-volume data-type="increase">+</button>
            -
            <button music-volume data-type="decrease">-</button>
            -
            <button mute-music>Mute ({{ mute }})</button>
            <br/>
            <br/>
            <button prev-track>Prev Track</button>
            -
            <button next-track>Next Track</button>
            -
            <button clear-playlist>Clear Playlist</button>
			</div>
        <div class="col-md-4">
            <h5>Playlist</h5>
            <ul set-playlist>
                <li ng-repeat="song in playlist">
                    <a play-from-playlist data-song="{{song.id}}">{{ song.title }}</a>
                    -
                    <a remove-from-playlist data-song="{{song.id}}" data-index="{{$index}}" my-playlist="playlist">
                        <small>(remove)</small>
                    </a>
                    -
                    <span ng-if="currentPlaying.id == song.id">(current)</span>
                </li>
            </ul>
        </div>
    </div>

















<form novalidate class="simple-form" ng-submit="update(search)">
	<div class="form-group row">
		<div class="col-md-1"> 
		</div>
		<div class="col-md-1"> 
			found {{data.response.numFound}}
		</div>
		<div class="col-md-3">
			<label class="control-label" for="search">search: </label>
			<input class="form-control" id="search" type="text" data-autocomplete data-ng-model="search" />
		</div>
		<div class="col-md-1">
			<label class="control-label" for="submit">&nbsp;</label>
			<input type="submit" id="submit" value="Submit" class="form-control btn btn-default" />
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
			<label class="control-label" for="rows">rows: </label>
			<input type="text" class="form-control" id="rows" data-ng-model="settings.rows" ng-change="update()" />
		</div>
		<div class="col-md-1">
			<label class="control-label" for="facet_limit">facet.limit: </label>
			<input type="text" class="form-control" id="facet_limit" data-ng-model="settings.facet_limit" ng-change="update()" />
		</div>
		<div class="col-md-1">
			<label class="control-label" for="sort">sort: </label>
			<select class="form-control" id="sort" data-ng-model="settings.sort" ng-change="update()">
				<option value="mDateTime desc">mDateTime desc</option>
				<option value="mDateTime asc">mDateTime asc</option>
				<option value="name desc">name desc</option>
				<option value="name asc">name asc</option>
			</select>
		</div>
	</div>
</form>

<div class="row">
	<div class="col-md-3">
		<ul ng-repeat="(key, values) in filterQueries">
			<li ng-repeat="value in values">
				<span ng-click="rmFilterQuery(key, value)">
				{{key}}
				<filter-query ng-attr-path="{{value}}" ng-attr-facet="{{key}}" />
				</span>
				<span class="glyphicon glyphicon-pencil" aria-hidden="true" ng-click="editCategory(key, value)"></span> 
			</li>
		</ul>
	</div>
	<div class="col-md-6" ng-show="renameCategory">
		<h4>{{renameCategory.oldPath}}</h4>
			<div class="form-group">
				<div class="col-md-3">
					<input class="form-control" id="category" type="text" data-ng-model="renameCategory.newPath" data-autocomplete data-global="true" />
				</div>
				<div class="col-md-2">
					<input class="form-control btn btn-danger" type="submit" ng-click="updateCategory(renameCategory)" value="Rename" />
				</div>
				<div class="col-md-2">
					<input class="form-control btn btn-default" type="submit" ng-click="renameCategory = null" value="Cancel" />
				</div>
			</div>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<p>results: {{data.response.numFound}}</p>
		<ul>
			<li ng-repeat="doc in data.response.docs">
				{{doc.id3Track}} {{doc.id3Artist}} {{doc.id3Album}} {{doc.id3Title}}
			</li>
		</ul>
	</div>
	<div class="col-md-4">
		<player data-items="data.response.docs"></player>
	</div>
</div>
<div class="row">
<div class="col-md-3" ng-repeat="(facet, result) in data.facet_counts.facet_fields">
		<h4>{{facet}}</h4>
		<ul>
			<li ng-repeat="(key, value) in result" ng-click="addFilterQuery(facet, key)">
				<nav-path ng-attr-path="{{key}}" ng-attr-facet="{{facet}}" ></nav-path>
				({{value}}) 
			</li>
		</ul>
</div>
</div>

