<toaster-container></toaster-container>

<overlay finished="finished"></overlay>
<div data-ng-if="!finished" class="spinner">
	<spinner></spinner>
</div>

<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<ng-include src="'/_Resources/Static/Packages/AchimFritz.Documents/JavaScript/Mp2/Partials/Search.html'"></ng-include>
	</div>
	<div class="col-md-4"></div>
</div>

<div class="row">
	<div class="col-md-12">
		<input type="button" class="btn btn-accordeon" data-toggle="collapse" data-target="#toggleFilter" value="Filter">
	</div>
</div>

<div id="toggleFilter">
	<div class="row">
	  <div class="col-md-12">
			<ng-include src="'/_Resources/Static/Packages/AchimFritz.Documents/JavaScript/Mp2/Partials/CurrentFilter.html'"></ng-include>
		</div>
	</div>

	<div class="row">
	  <div class="col-md-12">
			<ng-include src="'/_Resources/Static/Packages/AchimFritz.Documents/JavaScript/Mp2/Partials/FilterNav.html'"></ng-include>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<input type="button" class="btn btn-accordeon" data-toggle="collapse" data-target="#result" value="Result">
	</div>
</div>

<div class="row" id="result">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-12">
				<ng-include src="'/_Resources/Static/Packages/AchimFritz.Documents/JavaScript/Mp2/Partials/ResultHead.html'"></ng-include>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<ng-include src="'/_Resources/Static/Packages/AchimFritz.Documents/JavaScript/Mp2/Partials/ResultTable.html'"></ng-include>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<input type="button" class="btn-accordeon btn" data-toggle="collapse" data-target="#player" value="Player">
	</div>
</div>

<div class="row" id="player">
	<div class="col-md-12">
		<!-- init soundManager2 player -->
		<sound-manager></sound-manager>


		<div class="row">
			<div class="col-md-12">
				<ng-include src="'/_Resources/Static/Packages/AchimFritz.Documents/JavaScript/Mp2/Partials/PlayerControls1.html'"></ng-include>
				<ng-include src="'/_Resources/Static/Packages/AchimFritz.Documents/JavaScript/Mp2/Partials/PlayerControls2.html'"></ng-include>
			</div>
		</div>

		<div class="row" ng-show="currentPlaying && playlist.length">
			<div class="col-md-6" ng-show="currentPlaying.doc.webThumbPath">
				<img ng-src="{{currentPlaying.doc.webThumbPath}}" alt="{{currentPlaying.doc.title}}" width="200" height"200" />
			</div>
			<div class="col-md-6">
				<ng-include src="'/_Resources/Static/Packages/AchimFritz.Documents/JavaScript/Mp2/Partials/CurrentPlaying.html'"></ng-include>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<ng-include src="'/_Resources/Static/Packages/AchimFritz.Documents/JavaScript/Mp2/Partials/PlaylistTable.html'"></ng-include>
			</div>
		</div>
	</div>
</div>

