<toaster-container></toaster-container>

<overlay finished="finished"></overlay>
<div data-ng-if="!finished" class="spinner">
	<spinner></spinner>
</div>


<ng-include src="'/_Resources/Static/Packages/AchimFritz.Documents/JavaScript/Mp2/Partials/Nav.html'"></ng-include>


<div class="row" id="toggleFilter">

	<div class="col-md-12">
		<ng-include
				src="'/_Resources/Static/Packages/AchimFritz.Documents/JavaScript/Mp2/Partials/FilterNav.html'"></ng-include>
	</div>
</div>



<div class="row">

	<div class="col-md-6">
		<div class="row">
			<div class="col-md-12">
				<ng-include
						src="'/_Resources/Static/Packages/AchimFritz.Documents/JavaScript/Mp2/Partials/ResultHead.html'"></ng-include>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<ng-include
						src="'/_Resources/Static/Packages/AchimFritz.Documents/JavaScript/Mp2/Partials/ResultTable.html'"></ng-include>
		<button class="btn btn-default btn-xs" ng-click="changeFacetCount('artist', 10)">more</button>
		<button class="btn btn-default btn-xs" ng-click="changeFacetCount('artist', -10)">less</button>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<!-- init soundManager2 player -->
		<sound-manager></sound-manager>
		<div class="row">
			<div class="col-md-12">
				<ng-include
						src="'/_Resources/Static/Packages/AchimFritz.Documents/JavaScript/Mp2/Partials/PlayerControls1.html'"></ng-include>
				<ng-include
						src="'/_Resources/Static/Packages/AchimFritz.Documents/JavaScript/Mp2/Partials/PlayerControls2.html'"></ng-include>
			</div>
		</div>

		<div class="row">

			<div class="col-md-6" ng-if="currentPlaying && playlist.length">
				<ng-include
						src="'/_Resources/Static/Packages/AchimFritz.Documents/JavaScript/Mp2/Partials/CurrentPlaying.html'"></ng-include>
				<img ng-if="currentPlaying.doc.webThumbPath" ng-src="{{currentPlaying.doc.webThumbPath}}" alt="{{currentPlaying.doc.title}}" width="300" height="300" />
			</div>

			<div class="col-md-6">
				<ng-include
						src="'/_Resources/Static/Packages/AchimFritz.Documents/JavaScript/Mp2/Partials/PlaylistTable.html'"></ng-include>
			</div>



		</div>
	</div>
</div>
