<toaster-container></toaster-container>

<overlay finished="finished"></overlay>
<div data-ng-if="!finished" class="spinner">
	<spinner></spinner>
</div>

<div class="container" ng-show="view === 'list'">
	<div class="row">
		<div class="col-md-2">
			<input class="form-control" ng-model="newDirectory" type="text" />
		</div>
		<div class="col-md-2">
			<button ng-click="createJob('copyAndInit', newDirectory)" class="btn btn-default btn-danger" >copyAndInit</button>
		</div>
	</div>

	<div class="row">
		<div class="col-md-2">
			<input class="form-control" ng-model="search" type="text" />
		</div>
		<div class="col-md-2">
			<button class="btn btn-default " ng-show="showAll === false" ng-click="setShowAll(true)">show all</button>
			<button class="btn btn-default " ng-show="showAll === true" ng-click="setShowAll(false)">hide non differs</button>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped">
				<tr ng-repeat="integrity in integrities | filter:search" ng-show="integrity.countDiffers || showAll">
					<td>{{integrity.name}}</td>
					<td>{{integrity.countFileSystem}}</td>
					<td>{{integrity.countSolr}}</td>
					<td ng-click="show(integrity.name)"><button class="btn btn-default btn-xs" >show</button></td>
				</tr>
			</table>
		</div>
	</div>
</div>

<div ng-show="view === 'show'">
	<div class="row">
		<div class="col-md-4">
			<h4>{{integrity.name}}</h4>
		</div>
		<div class="col-md-2">
			<button ng-click="list()" class="btn btn-default" >list</button>
		</div>
	</div>
	<div class="row" ng-show="job.log">
		<div class="col-md-10">
			<pre>
{{job.log}}
			</pre>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<h4>FileSystem</h4>
			<ul>
				<li ng-repeat="document in integrity.filesystemDocuments">{{document}}</li>
			</ul>
		</div>
		<div class="col-md-3">
			<table class="table table-striped">
				<tr>
					<td>Count FS</td>
					<td>{{integrity.countFileSystem}}</td>
				</tr>
				<tr>
					<td>Count Solr</td>
					<td>{{integrity.countSolr}}</td>
				</tr>
				<tr>
					<td>Count Thumbs</td>
					<td>{{integrity.thumbs.length}}</td>
				</tr>
				<tr>
					<td>Count Persisted</td>
					<td>{{integrity.persistedDocuments.length}}</td>
				</tr>
			</table>
		</div>
		<div class="col-md-3">
			<table class="table table-striped">
				<tr>
					<td>timestamp initialized</td>
					<td>{{integrity.timestampsAreInitialized}}</td>
				</tr>
				<tr>
					<td>images rotated</td>
					<td>{{integrity.imageIsRotated}}</td>
				</tr>
				<tr>
					<td>is exif</td>
					<td>{{integrity.isExif}}</td>
				</tr>
				<tr>
					<td>geeqie metadata exists</td>
					<td>{{integrity.geeqieMetadataExists}}</td>
				</tr>
			</table>
			<table class="table table-striped">
				<tr>
					<td>ready for rotation</td>
					<td>{{integrity.readyForRotation}}</td>
				</tr>
				<tr>
					<td>ready for thumbs</td>
					<td>{{integrity.readyForThumbs}}</td>
				</tr>
				<tr>
					<td>next Step</td>
					<td>{{integrity.nextStep}}</td>
				</tr>
			</table>
		</div>
		<div class="col-md-3">
			<h4>next Step: {{integrity.nextStep}}</h4>
			<button ng-hide="integrity.countDiffers" ng-click="solr(integrity.name)" class="btn btn-default btn-danger" >solr</button>
			<button ng-show="integrity.countDiffers && integrity.nextStep != ''" ng-click="createJob(integrity.nextStep, integrity.name)" class="btn btn-default btn-danger" >create next Step {{integrity.nextStep}}</button>
			<div class="alert alert-info" role="alert" ng-show="integrity.countDiffers && integrity.nextStep == ''">Opps no next step but no solr documents ... (maybe not exif nor a metadata file exists?)</div>
			<div class="alert alert-info" role="alert" ng-show="integrity.countDiffers && integrity.nextStep == ''">although create thumbs (own risk)</div>
			<div ng-show="job">Job Status: {{job.status}}</div>
			<button ng-show="integrity.countDiffers && integrity.nextStep == ''" ng-click="createJob('thumb', integrity.name)" class="btn btn-default btn-danger" >create next Step thumb</button>
		</div>
		</div>
	</div>
</div>
