
<div class="row">
	<button type="button" class="close" aria-label="Close" ng-click="mp3.hideInfoDoc()"><span aria-hidden="true">&times;</span></button>
	<div class="col-md-2">

				<input type="text" class="form-control" value="{{mp3.infoDoc.name}}" />

		<table class="table table-striped small-table">
			<tr>
				<td>Title</td>
				<td><button ng-show="mp3.infoDoc.titleRating" class="btn-xs btn btn-info">{{mp3.infoDoc.titleRating}}</button></td>
				<td>
					<button ng-click="mp3.rate({name: 'title', rate: 1, value: mp3.infoDoc.name})" class="btn btn-xs btn-default">1</button>
					<button ng-click="mp3.rate({name: 'title', rate: 2, value: mp3.infoDoc.name})" class="btn btn-xs btn-default">2</button>
					<button ng-click="mp3.rate({name: 'title', rate: 3, value: mp3.infoDoc.name})" class="btn btn-xs btn-default">3</button>
					<button ng-click="mp3.rate({name: 'title', rate: 4, value: mp3.infoDoc.name})" class="btn btn-xs btn-default">4</button>
					<button ng-click="mp3.rate({name: 'title', rate: 5, value: mp3.infoDoc.name})" class="btn btn-xs btn-default">5</button>
					<button ng-click="mp3.rate({name: 'title', rate: 6, value: mp3.infoDoc.name})" class="btn btn-xs btn-default">6</button>
				</td>
			</tr>
			<tr>
				<td>Artist</td>
				<td><button ng-show="mp3.infoDoc.artistRating" class="btn-xs btn btn-info">{{mp3.infoDoc.artistRating}}</button></td>
				<td>
					<button ng-click="mp3.rate({name: 'artist', rate: 1, value: mp3.infoDoc.artist})" class="btn btn-xs btn-default">1</button>
					<button ng-click="mp3.rate({name: 'artist', rate: 2, value: mp3.infoDoc.artist})" class="btn btn-xs btn-default">2</button>
					<button ng-click="mp3.rate({name: 'artist', rate: 3, value: mp3.infoDoc.artist})" class="btn btn-xs btn-default">3</button>
					<button ng-click="mp3.rate({name: 'artist', rate: 4, value: mp3.infoDoc.artist})" class="btn btn-xs btn-default">4</button>
					<button ng-click="mp3.rate({name: 'artist', rate: 5, value: mp3.infoDoc.artist})" class="btn btn-xs btn-default">5</button>
					<button ng-click="mp3.rate({name: 'artist', rate: 6, value: mp3.infoDoc.artist})" class="btn btn-xs btn-default">6</button>
				</td>
			</tr>
			<tr>
				<td>Album</td>
				<td><button ng-show="mp3.infoDoc.albumRating" class="btn-xs btn btn-info">{{mp3.infoDoc.albumRating}}</button></td>
				<td>
					<button ng-click="mp3.rate({name: 'album', rate: 1, value: mp3.infoDoc.album})" class="btn btn-xs btn-default">1</button>
					<button ng-click="mp3.rate({name: 'album', rate: 2, value: mp3.infoDoc.album})" class="btn btn-xs btn-default">2</button>
					<button ng-click="mp3.rate({name: 'album', rate: 3, value: mp3.infoDoc.album})" class="btn btn-xs btn-default">3</button>
					<button ng-click="mp3.rate({name: 'album', rate: 4, value: mp3.infoDoc.album})" class="btn btn-xs btn-default">4</button>
					<button ng-click="mp3.rate({name: 'album', rate: 5, value: mp3.infoDoc.album})" class="btn btn-xs btn-default">5</button>
					<button ng-click="mp3.rate({name: 'album', rate: 6, value: mp3.infoDoc.album})" class="btn btn-xs btn-default">6</button>
				</td>
			</tr>
		</table>
	</div>




	<div class="col-md-2">
		<table class="table table-striped small-table">
			<tr>
				<td>Title</td>
				<td>
					<strong ng-hide="mp3.infoDoc.title" class="text-danger">!</strong>
					<span ng-show="mp3.infoDoc.title" editable-text="mp3.infoDoc.title" onaftersave="mp3.updateId3Tag({tagValue: $data, tagName: 'title', document: mp3.infoDoc.identifier})">{{mp3.infoDoc.title}}</span>
					<span ng-hide="mp3.infoDoc.title" editable-text="mp3.infoDoc.fsTitle" onaftersave="mp3.updateId3Tag({tagValue: $data, tagName: 'title', document: mp3.infoDoc.identifier})">{{mp3.infoDoc.fsTitle}}</span>
				</td>
			</tr>
			<tr>
				<td>Track</td>
				<td>
					<span ng-show="mp3.infoDoc.track" editable-text="mp3.infoDoc.track" onaftersave="mp3.updateId3Tag({tagValue: $data, tagName: 'track', document: mp3.infoDoc.identifier})">{{mp3.infoDoc.track}}</span>
					<span ng-hide="mp3.infoDoc.track" editable-text="mp3.infoDoc.fsTrack" onaftersave="mp3.updateId3Tag({tagValue: $data, tagName: 'track', document: mp3.infoDoc.identifier})">{{mp3.infoDoc.fsTrack}}</span>
					<strong ng-hide="mp3.infoDoc.track" class="text-danger">!</strong>
				</td>
			</tr>
			<tr>
				<td>Artist</td>
				<td>
					<span ng-show="mp3.infoDoc.artist" editable-text="mp3.infoDoc.artist" onaftersave="mp3.updateId3Tag({tagValue: $data, tagName: 'artist', document: mp3.infoDoc.identifier})">{{mp3.infoDoc.artist}}</span>
					<span ng-hide="mp3.infoDoc.artist" editable-text="mp3.infoDoc.fsArtist" onaftersave="mp3.updateId3Tag({tagValue: $data, tagName: 'artist', document: mp3.infoDoc.identifier})">{{mp3.infoDoc.fsArtist}}</span>
					<strong ng-hide="mp3.infoDoc.artist" class="text-danger">!</strong>
				</td>
			</tr>
			<tr>
				<td>Album</td>
				<td>
					<span ng-show="mp3.infoDoc.album" editable-text="mp3.infoDoc.album" onaftersave="mp3.updateId3Tag({tagValue: $data, tagName: 'album', document: mp3.infoDoc.identifier})">{{mp3.infoDoc.album}}</span>
					<span ng-hide="mp3.infoDoc.album" editable-text="mp3.infoDoc.fsAlbum" onaftersave="mp3.updateId3Tag({tagValue: $data, tagName: 'album', document: mp3.infoDoc.identifier})">{{mp3.infoDoc.fsAlbum}}</span>
					<strong ng-hide="mp3.infoDoc.album" class="text-danger">!</strong>
				</td>
			</tr>
			<tr>
				<td>Genre</td>
				<td>
					<span ng-show="mp3.infoDoc.genre" editable-text="mp3.infoDoc.genre" onaftersave="mp3.updateId3Tag({tagValue: $data, tagName: 'genre', document: mp3.infoDoc.identifier})">{{mp3.infoDoc.genre}}</span>
					<span ng-hide="mp3.infoDoc.genre" editable-text="mp3.infoDoc.fsGenre" onaftersave="mp3.updateId3Tag({tagValue: $data, tagName: 'genre', document: mp3.infoDoc.identifier})">{{mp3.infoDoc.fsGenre}}</span>
					/ {{mp3.infoDoc.genreId}}
					<strong ng-hide="mp3.infoDoc.genre" class="text-danger">!</strong>
				</td>
			</tr>
			<tr>
				<td>Year</td>
				<td>
					<span editable-text="mp3.infoDoc.year" onaftersave="mp3.updateId3Tag({tagValue: $data, tagName: 'year', document: mp3.infoDoc.identifier})">{{mp3.infoDoc.year}}</span>
					<strong ng-hide="mp3.infoDoc.year" class="text-danger">!</strong>
				</td>
			</tr>
		</table>
	</div>
	<div class="col-md-2">
		<table class="table table-striped small-table">
			<tr>
				<td>fsTitle</td>
				<td>{{mp3.infoDoc.fsTitle}}</td>
			</tr>
			<tr>
				<td>fsTrack</td>
				<td>{{mp3.infoDoc.fsTrack}}</td>
			</tr>
			<tr>
				<td>fsArtist</td>
				<td>{{mp3.infoDoc.fsArtist}}</td>
			</tr>
			<tr>
				<td>fsAlbum</td>
				<td>{{mp3.infoDoc.fsAlbum}}</td>
			</tr>
			<tr>
				<td>fsGenre</td>
				<td>{{mp3.infoDoc.fsGenre}}</td>
			</tr>
			<tr>
				<td>Provider</td>
				<td>{{mp3.infoDoc.fsProvider}}</td>
			</tr>
		</table>
	</div>

	<div class="col-md-6">

		<div class="row form-group">
			<div class="col-md-5 col-md-offset-4">
				<input class="form-control" type="text" data-ng-model="mp3.infoDoc.listItemPath" />
			</div>
			<div class="col-md-2">
				<input class="form-control btn btn-xs btn-danger" type="submit" ng-click="mp3.addToList()" value="Add to Playlist"/>
			</div>
		</div>

		<div class="row form-group">

			<form target="_blank" method="get" action="http://www.freedb.org/freedb_search.php">
				<div class="col-md-5 col-md-offset-4">
					<input class="form-control" type="text" name="words" data-ng-model="mp3.cddbSearch" />
				</div>
				<div class="col-md-2">
					<input class="form-control btn btn-danger" type="submit" value="Search Cddb" />
				</div>
			</form>

		</div>
		<div class="row form-group">

			<div class="col-md-3">
				<label class="control-label">Path</label>
				<input class="form-control" type="text" data-ng-model="mp3.cddb.path" />
			</div>
			<div class="col-md-2">
				<label class="control-label">Format</label>
				<select class="form-control" data-ng-model="mp3.cddb.format">
					<option value="1">Title (Album)</option>
					<option value="2">Artist Title (Sampler)</option>
				</select>
			</div>

			<div class="col-md-4">
				<label class="control-label">Url</label>
				<input class="form-control" type="text" data-ng-model="mp3.cddb.url" />
			</div>
			<div class="col-md-2">
				<label class="control-label">&nbsp;</label>
				<input class="form-control btn btn-danger" type="submit" ng-click="mp3.cddbUpdate()" value="Cddb Update" />
			</div>

		</div>
	</div>

</div>

