
<div data-ng-controller="DocumentController as document">
	<div data-ng-controller="ApiController as api">
		<div data-ng-controller="PlayerController as playerCtrl">
			<div data-ng-controller="FilterController as filterCtrl">

				<div data-ng-controller="WidgetController as widget">
					<div data-ng-controller="DocumentListController as documentListCtrl">
						<div data-ng-controller="RatingFilterController as ratingFilterCtrl">

							<toaster-container></toaster-container>

							<overlay finished="api.finished"></overlay>
							<div data-ng-if="!api.finished" class="spinner">
								<spinner></spinner>
							</div>

							<div class="row">
								<ng-include src="widget.getTemplate('Search')"></ng-include>
								<ng-include src="widget.getTemplate('Widget')"></ng-include>
							</div>

							<div class="row">
								<div class="col-md-12">
								<ng-include src="widget.getTemplate('CurrentFilter')"></ng-include>
									</div>
							</div>
							<div class="row top10" data-ng-if="filterCtrl.renameCategory">
								<ng-include src="widget.getTemplate('RenameCategory')"></ng-include>
							</div>

							<div class="row top2" data-ng-if="widget.widgets.filter">
								<div class="col-md-12">
									<ng-include src="widget.getTemplate('Filter')"></ng-include>
								</div>
							</div>

							<div class="row top2" data-ng-if="widget.widgets.ratingFilter">
								<div class="col-md-12">
									<ng-include src="widget.getTemplate('RatingFilter')"></ng-include>
								</div>
							</div>

							<div class="row top2" data-ng-if="widget.widgets.lists">
								<div class="col-md-12">
									<ng-include src="widget.getTemplate('List')"></ng-include>
								</div>
							</div>


							<ng-include data-ng-if="mp3.infoDoc" src="widget.getTemplate('InfoDoc')"></ng-include>

							<div class="row top10" data-ng-if="widget.widgets.result">
								<ng-include src="widget.getTemplate('Result')"></ng-include>
							</div>
							<sound-manager></sound-manager>
							<div class="row top10" data-ng-if="widget.widgets.player">
								<ng-include src="widget.getTemplate('Player')"></ng-include>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
