<toaster-container></toaster-container>

<overlay finished="mp3.finished"></overlay>
<div data-ng-if="!mp3.finished" class="spinner">
	<spinner></spinner>
</div>


<div data-ng-controller="DocumentController as document">

	<ng-include src="mp3.getTemplate('Nav')"></ng-include>

	<div class="row top2">
		<div class="col-md-12">
			<live-search id="artistSearch" type="text"
						 live-search-callback="mp3.artistSearchCallback"
						 live-search-item-template="{{result.label}} -- {{result.value}}</b>"
						 live-search-select="fullName"
						 ng-model="mp3.artistSearch" >
			</live-search>
		</div>
	</div>


	<div class="row top2">
		<div class="col-md-12">
			<ng-include src="mp3.getTemplate('LetterNav')"></ng-include>
		</div>
	</div>

	<div class="row top1">
		<div class="col-md-12">
			<ng-include src="mp3.getTemplate('FilterNavSelect')"></ng-include>
		</div>
	</div>

	<div class="row top1">
		<div class="col-md-12">
			<ng-include src="mp3.getTemplate('FilterNav')"></ng-include>
		</div>
	</div>

	<ng-include data-ng-if="mp3.infoDoc" src="mp3.getTemplate('InfoDoc')"></ng-include>

	<div class="row top10">

		<div class="col-md-6">
			<div class="row ">
				<div class="col-md-10">
					<ng-include src="mp3.getTemplate('ResultHead')"></ng-include>
				</div>
				<div class="col-md-2">
					<ng-include src="mp3.getTemplate('Sort')"></ng-include>
				</div>
			</div>
			<div class="row top10">
				<div class="col-md-12">
					<ng-include src="mp3.getTemplate('ResultTable2')"></ng-include>
				</div>
			</div>

		</div>

		<div class="col-md-6">
			<!-- init soundManager2 player -->
			<sound-manager></sound-manager>
			<div class="row top2">
				<div class="col-md-12">
					<ng-include src="mp3.getTemplate('PlayerControls')"></ng-include>
					<button class="btn btn-danger" ng-click="mp3.setPlayListForm(true)">
						<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					</button>
				</div>
			</div>

			<div class="row top10">
				<div class="col-md-6 text-center" data-ng-if="currentPlaying && playlist.length">
					<ng-include src="mp3.getTemplate('CurrentPlaying')"></ng-include>
					<p>
						<button class="btn btn-default btn-xs" ng-click="mp3.showInfoDoc(currentPlaying.doc)">
							<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
						</button>
					</p>
					<img data-ng-if="currentPlaying.doc.webThumbPath" ng-src="{{currentPlaying.doc.webThumbPath}}" alt="{{currentPlaying.doc.title}}" width="300" height="300" />
				</div>

				<div class="col-md-6">
					<div data-ng-if="playlist.length && mp3.playListForm">
						<ng-include src="mp3.getTemplate('PlayListActions')"></ng-include>
					</div>
					<ng-include src="mp3.getTemplate('PlaylistTable2')"></ng-include>
				</div>

			</div>
		</div>


	</div>

</div>