<table class="table table-striped small-table">
	<tr ng-repeat="doc in document.data.response.docs">
		<td class="mp3-song-list-controls">
			<button class="btn btn-default btn-xs" music-player="play" add-song="{id: doc.identifier, url: doc.webPath, title: doc.title, doc: doc}">
				<span class="glyphicon glyphicon-play" aria-hidden="true" ></span>
			</button>
			<button class="btn btn-default btn-xs" music-player add-song="{id: doc.identifier, url: doc.webPath, title: doc.title, doc: doc}">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			</button>
			<button class="btn btn-default btn-xs" ng-click="mp3.showInfoDoc(doc)">
				<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
			</button>
		</td>
		
		<td>
			<button ng-show="doc.artist" class="btn btn-default btn-xs" ng-click="document.addFilterQuery('artist', doc.artist)">
				<span class="glyphicon  glyphicon-search" aria-hidden="true"></span>
			</button>
			<button ng-hide="doc.artist" class="btn btn-default btn-xs" ng-click="document.addFilterQuery('fsArtist', doc.fsArtist)">
				<span class="glyphicon  glyphicon-search" aria-hidden="true"></span>
			</button>

			<span ng-show="doc.artist">{{doc.artist.substr(0, 30)}}</span>
			<span ng-hide="doc.artist">{{doc.fsArtist.substr(0, 30)}}</span>
			<strong ng-hide="doc.artist" class="text-danger">!</strong>
		</td>
		<td>
			<button ng-show="doc.album" class="btn btn-default btn-xs" ng-click="document.addFilterQuery('album', doc.album)">
				<span class="glyphicon  glyphicon-search" aria-hidden="true"></span>
			</button>
			<button ng-hide="doc.album" class="btn btn-default btn-xs" ng-click="document.addFilterQuery('fsAlbum', doc.fsAlbum)">
				<span class="glyphicon  glyphicon-search" aria-hidden="true"></span>
			</button>
			<span ng-show="doc.album">{{doc.album.substr(0, 30)}}</span>
			<span ng-hide="doc.album">{{doc.fsAlbum.substr(0, 30)}}</span>
			<strong ng-hide="doc.album" class="text-danger">!</strong>
		</td>
		<td>
			<span ng-show="doc.track" >{{("00" + doc.track).substr(-2, 2)}}</span>
			<span ng-hide="doc.track" >{{("00" + doc.fsTrack).substr(-2, 2)}}</span>
			<strong ng-hide="doc.track" class="text-danger">!</strong>
			<span ng-show="doc.title" >{{doc.title.substr(0, 30)}}</span>
			<span ng-hide="doc.title" >{{doc.fsTitle.substr(0, 30)}}</span>
			<strong ng-hide="doc.title" class="text-danger">!</strong>
		</td>
	</tr>
</table>

