<div data-ng-controller="ApiController as api">
	<overlay finished="api.finished"></overlay>
	<div data-ng-if="!api.finished" class="spinner">
		<spinner></spinner>
	</div>
	<div class="row form-group">
		<div class="col-md-4">
			<label for="tagPath" class="control-label">Tag Path</label>
			<input class="form-control" id="tagPath" type="text" data-ng-model="musicEditPlaylist.tagPath" data-autocomplete data-global="1" />
		</div>
		<div class="col-md-4">
			<label class="control-label">&nbsp;</label>
			<input class="form-control btn btn-danger" type="submit" ng-click="api.writeId3Tag(musicEditPlaylist.tagPath, musicEditPlaylist.getPlaylistDocs())" value="write Id3 Tag" />
		</div>
		<div class="col-md-4">
			<label class="control-label">&nbsp;</label>
			<input class="form-control btn btn-danger" type="submit" ng-click="api.listMerge(musicEditPlaylist.tagPath, musicEditPlaylist.getPlaylistDocs())" value="save list" />
		</div>
	</div>

	<div class="row form-group">

		<div class="col-md-3 checkbox">
			<label>
				<input type="checkbox" value="1" data-ng-model="musicEditPlaylist.zip.useFullPath" />Full Path
			</label>
		</div>

		<div class="col-md-5">
			<label class="control-label">Download-Name</label>
			<input class="form-control" type="text" data-ng-model="musicEditPlaylist.zip.name" />
		</div>
		<div class="col-md-4">
			<label class="control-label">&nbsp;</label>
			<input class="form-control btn btn-danger" type="submit" ng-click="api.zipDownload(musicEditPlaylist.zip, musicEditPlaylist.getPlaylistDocs())" value="Zip Download" />
		</div>
	</div>
</div>