<div data-ng-controller="ApiController as api">
	<overlay finished="api.finished"></overlay>
	<div data-ng-if="!api.finished" class="spinner">
		<spinner></spinner>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<span class="label label-default" data-ng-if="musicEditCategory.renameCategory && musicEditCategory.editType === 'id3Tag'">
				rename {{musicEditCategory.renameCategoryFacet}} {{musicEditCategory.renameCategory.oldPath}}
			</span>
			<span class="label label-default" data-ng-if="musicEditCategory.renameCategory && musicEditCategory.editType === 'category'">
				rename {{musicEditCategory.renameCategory.oldPath}}
			</span>
		</div>
	</div>
	<div class="row">
		<form  data-ng-if="musicEditCategory.renameCategory && musicEditCategory.editType === 'id3Tag'"
			   data-ng-submit="api.id3TagUpdate(musicEditCategory.renameCategory, musicEditCategory.renameCategoryFacet)">
			<div class="form-group">
				<div class="col-md-3 col-md-offset-3">
					<input class="form-control" id="id3Tag" type="text" data-ng-model="musicEditCategory.renameCategory.newPath" data-autocomplete data-global="1" />
				</div>
				<div class="col-md-2">
					<input class="form-control btn btn-danger" type="submit" value="Rename" />
				</div>
			</div>
		</form>

		<form data-ng-if="musicEditCategory.renameCategory && musicEditCategory.editType === 'category'"
			  data-ng-submit="api.categoryUpdate(musicEditCategory.renameCategory, musicEditCategory.renameCategoryFacet)">
			<div class="form-group">
				<div class="col-md-3">
					<input class="form-control" id="category" type="text" data-ng-model="musicEditCategory.renameCategory.newPath" data-autocomplete data-global="1" />
				</div>
				<div class="col-md-2">
					<input class="form-control btn btn-danger" type="submit" value="Rename" />
				</div>
			</div>
		</form>
	</div>
</div>
