<div data-ng-controller="ApiController as api">
	<overlay finished="api.finished"></overlay>
	<div data-ng-if="!api.finished" class="spinner">
		<spinner></spinner>
	</div>
	<div class="row">
		<div class="col-md-10">
			<input type="text" class="form-control" value="{{musicInfoDoc.doc.name}}" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-4" data-ng-if="musicInfoDoc.doc.title">
			<table class="table small-table">
				<tr>
					<td>Title</td>
					<td><button data-ng-show="musicInfoDoc.doc.titleRating" class="btn-xs btn btn-info">{{musicInfoDoc.doc.titleRating}}</button></td>
					<td>
						<button ng-click="api.rate({name: 'title', rate: 1, value: musicInfoDoc.doc.name})" class="btn btn-xs btn-default">1</button>
						<button ng-click="api.rate({name: 'title', rate: 2, value: musicInfoDoc.doc.name})" class="btn btn-xs btn-default">2</button>
						<button ng-click="api.rate({name: 'title', rate: 3, value: musicInfoDoc.doc.name})" class="btn btn-xs btn-default">3</button>
						<button ng-click="api.rate({name: 'title', rate: 4, value: musicInfoDoc.doc.name})" class="btn btn-xs btn-default">4</button>
						<button ng-click="api.rate({name: 'title', rate: 5, value: musicInfoDoc.doc.name})" class="btn btn-xs btn-default">5</button>
						<button ng-click="api.rate({name: 'title', rate: 6, value: musicInfoDoc.doc.name})" class="btn btn-xs btn-default">6</button>
					</td>
				</tr>
			</table>
		</div>
		<div class="col-md-4" data-ng-if="musicInfoDoc.doc.artist">
			<table class="table small-table">
				<tr>
					<td>Artist</td>
					<td><button ng-show="musicInfoDoc.doc.artistRating" class="btn-xs btn btn-info">{{musicInfoDoc.doc.artistRating}}</button></td>
					<td>
						<button ng-click="api.rate({name: 'artist', rate: 1, value: musicInfoDoc.doc.artist})" class="btn btn-xs btn-default">1</button>
						<button ng-click="api.rate({name: 'artist', rate: 2, value: musicInfoDoc.doc.artist})" class="btn btn-xs btn-default">2</button>
						<button ng-click="api.rate({name: 'artist', rate: 3, value: musicInfoDoc.doc.artist})" class="btn btn-xs btn-default">3</button>
						<button ng-click="api.rate({name: 'artist', rate: 4, value: musicInfoDoc.doc.artist})" class="btn btn-xs btn-default">4</button>
						<button ng-click="api.rate({name: 'artist', rate: 5, value: musicInfoDoc.doc.artist})" class="btn btn-xs btn-default">5</button>
						<button ng-click="api.rate({name: 'artist', rate: 6, value: musicInfoDoc.doc.artist})" class="btn btn-xs btn-default">6</button>
					</td>
				</tr>
			</table>
		</div>
		<div class="col-md-4" data-ng-if="musicInfoDoc.doc.album">
			<table class="table small-table">
				<tr>
					<td>Album</td>
					<td><button ng-show="musicInfoDoc.doc.albumRating" class="btn-xs btn btn-info">{{musicInfoDoc.doc.albumRating}}</button></td>
					<td>
						<button ng-click="api.rate({name: 'album', rate: 1, value: musicInfoDoc.doc.album})" class="btn btn-xs btn-default">1</button>
						<button ng-click="api.rate({name: 'album', rate: 2, value: musicInfoDoc.doc.album})" class="btn btn-xs btn-default">2</button>
						<button ng-click="api.rate({name: 'album', rate: 3, value: musicInfoDoc.doc.album})" class="btn btn-xs btn-default">3</button>
						<button ng-click="api.rate({name: 'album', rate: 4, value: musicInfoDoc.doc.album})" class="btn btn-xs btn-default">4</button>
						<button ng-click="api.rate({name: 'album', rate: 5, value: musicInfoDoc.doc.album})" class="btn btn-xs btn-default">5</button>
						<button ng-click="api.rate({name: 'album', rate: 6, value: musicInfoDoc.doc.album})" class="btn btn-xs btn-default">6</button>
					</td>
				</tr>
			</table>
		</div>
	</div>


	<div class="row">

		<div class="col-md-6">
			<table class="table small-table">
				<tr>
					<td>Title</td>
					<td>
						<strong ng-hide="musicInfoDoc.doc.title" class="text-danger">!</strong>
						<span ng-show="musicInfoDoc.doc.title" editable-text="musicInfoDoc.doc.title" onaftersave="api.updateId3Tag({tagValue: $data, tagName: 'title', document: musicInfoDoc.doc.identifier})">{{musicInfoDoc.doc.title}}</span>
						<span ng-hide="musicInfoDoc.doc.title" editable-text="musicInfoDoc.doc.fsTitle" onaftersave="api.updateId3Tag({tagValue: $data, tagName: 'title', document: musicInfoDoc.doc.identifier})">{{musicInfoDoc.doc.fsTitle}}</span>
					</td>
				</tr>
				<tr>
					<td>Track</td>
					<td>
						<span ng-show="musicInfoDoc.doc.track" editable-text="musicInfoDoc.doc.track" onaftersave="api.updateId3Tag({tagValue: $data, tagName: 'track', document: musicInfoDoc.doc.identifier})">{{musicInfoDoc.doc.track}}</span>
						<span ng-hide="musicInfoDoc.doc.track" editable-text="musicInfoDoc.doc.fsTrack" onaftersave="api.updateId3Tag({tagValue: $data, tagName: 'track', document: musicInfoDoc.doc.identifier})">{{musicInfoDoc.doc.fsTrack}}</span>
						<strong ng-hide="musicInfoDoc.doc.track" class="text-danger">!</strong>
					</td>
				</tr>
				<tr>
					<td>Artist</td>
					<td>
						<span ng-show="musicInfoDoc.doc.artist" editable-text="musicInfoDoc.doc.artist" onaftersave="api.updateId3Tag({tagValue: $data, tagName: 'artist', document: musicInfoDoc.doc.identifier})">{{musicInfoDoc.doc.artist}}</span>
						<span ng-hide="musicInfoDoc.doc.artist" editable-text="musicInfoDoc.doc.fsArtist" onaftersave="api.updateId3Tag({tagValue: $data, tagName: 'artist', document: musicInfoDoc.doc.identifier})">{{musicInfoDoc.doc.fsArtist}}</span>
						<strong ng-hide="musicInfoDoc.doc.artist" class="text-danger">!</strong>
					</td>
				</tr>
				<tr>
					<td>Album</td>
					<td>
						<span ng-show="musicInfoDoc.doc.album" editable-text="musicInfoDoc.doc.album" onaftersave="api.updateId3Tag({tagValue: $data, tagName: 'album', document: musicInfoDoc.doc.identifier})">{{musicInfoDoc.doc.album}}</span>
						<span ng-hide="musicInfoDoc.doc.album" editable-text="musicInfoDoc.doc.fsAlbum" onaftersave="api.updateId3Tag({tagValue: $data, tagName: 'album', document: musicInfoDoc.doc.identifier})">{{musicInfoDoc.doc.fsAlbum}}</span>
						<strong ng-hide="musicInfoDoc.doc.album" class="text-danger">!</strong>
					</td>
				</tr>
				<tr>
					<td>Genre</td>
					<td>
						<span ng-show="musicInfoDoc.doc.genre" editable-text="musicInfoDoc.doc.genre" onaftersave="api.updateId3Tag({tagValue: $data, tagName: 'genre', document: musicInfoDoc.doc.identifier})">{{musicInfoDoc.doc.genre}}</span>
						<span ng-hide="musicInfoDoc.doc.genre" editable-text="musicInfoDoc.doc.fsGenre" onaftersave="api.updateId3Tag({tagValue: $data, tagName: 'genre', document: musicInfoDoc.doc.identifier})">{{musicInfoDoc.doc.fsGenre}}</span>
						/ {{musicInfoDoc.doc.genreId}}
						<strong ng-hide="musicInfoDoc.doc.genre" class="text-danger">!</strong>
					</td>
				</tr>
				<tr>
					<td>Year</td>
					<td>
						<span editable-text="musicInfoDoc.doc.year" onaftersave="api.updateId3Tag({tagValue: $data, tagName: 'year', document: musicInfoDoc.doc.identifier})">{{musicInfoDoc.doc.year}}</span>
						<strong ng-hide="musicInfoDoc.doc.year" class="text-danger">!</strong>
					</td>
				</tr>
			</table>
		</div>
		<div class="col-md-6">
			<table class="table small-table">
				<tr>
					<td>fsTitle</td>
					<td>{{musicInfoDoc.doc.fsTitle}}</td>
				</tr>
				<tr>
					<td>fsTrack</td>
					<td>{{musicInfoDoc.doc.fsTrack}}</td>
				</tr>
				<tr>
					<td>fsArtist</td>
					<td>{{musicInfoDoc.doc.fsArtist}}</td>
				</tr>
				<tr>
					<td>fsAlbum</td>
					<td>{{musicInfoDoc.doc.fsAlbum}}</td>
				</tr>
				<tr>
					<td>fsGenre</td>
					<td>{{musicInfoDoc.doc.fsGenre}}</td>
				</tr>
				<tr>
					<td>Provider</td>
					<td>{{musicInfoDoc.doc.fsProvider}}</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">

			<div class="row form-group">
				<div class="col-md-5 col-md-offset-5">
					<input class="form-control" type="text" data-autocomplete data-global="1" data-ng-model="musicInfoDoc.category" />
				</div>
				<div class="col-md-2">
					<input class="form-control btn btn-xs btn-danger" type="submit" ng-click="api.listMergeOne(musicInfoDoc.category, musicInfoDoc.doc)" value="Add to Playlist"/>
				</div>
			</div>

			<div class="row form-group">

				<form target="_blank" method="get" action="http://www.freedb.org/freedb_search.php">
					<div class="col-md-5 col-md-offset-3">
						<input class="form-control" type="text" name="words" data-ng-model="musicInfoDoc.cddbSearch" />
					</div>
					<div class="col-md-2">
						<input class="form-control btn btn-danger" type="submit" value="Search Cddb" />
					</div>
				</form>
				<form target="_blank" method="get" action="http://www.amazon.de/s">
					<input type="text" class="hidden" name="field-keywords" data-ng-model="musicInfoDoc.cddbSearch" />
					<div class="col-md-2">
						<input class="form-control btn btn-danger" type="submit" value="Search Amazon" />
					</div>
				</form>

			</div>
			<div class="row form-group">

				<div class="col-md-3">
					<label class="control-label">Path</label>
					<input class="form-control" type="text" data-ng-model="musicInfoDoc.cddb.path" />
				</div>
				<div class="col-md-2">
					<label class="control-label">Format</label>
					<select class="form-control" data-ng-model="musicInfoDoc.cddb.format">
						<option value="1">Title (Album)</option>
						<option value="2">Artist Title (Sampler)</option>
					</select>
				</div>

				<div class="col-md-3">
					<label class="control-label">Url</label>
					<input class="form-control" type="text" data-ng-model="musicInfoDoc.cddb.url" />
				</div>

				<div class="col-md-2">
					<label class="control-label">&nbsp;</label>
					<input class="form-control btn btn-danger" type="submit" ng-click="api.cddbUpdate(musicInfoDoc.cddb)" value="Cddb Update" />
				</div>

				<div class="col-md-2">
					<label class="control-label">&nbsp;</label>
					<input class="form-control btn btn-danger" type="submit" ng-click="api.folderUpdate(musicInfoDoc.cddb)" value="Folder Update" />
				</div>

			</div>
		</div>

	</div>
</div>

