<div data-ng-controller="FilterController as filter">
	<div data-ng-controller="MusicFilterController as musicFilter">
		<div class="row top5">
			<div class="col-md-3">
				<ul>
					<li ng-repeat="(key, value) in musicList.paths[0]">
							<span ng-click="document.addFilterQuery('hPaths', key)">
								<nav-path ng-attr-path="{{key}}" ng-attr-facet="hPaths"></nav-path>
								({{value}})
							</span>

							<span
									class="glyphicon glyphicon-pencil"
									aria-hidden="true"
									data-ng-click="musicFilter.showRenameCategoryForm('hPaths', key, 'category')">
							</span>
					</li>
				</ul>
			</div>
			<div class="col-md-3" data-ng-if="musicList.paths[1]">
				<ul>
					<li ng-repeat="(key, value) in musicList.paths[1]">
							<span ng-click="document.addFilterQuery('hPaths', key)">
								<nav-path ng-attr-path="{{key}}" ng-attr-facet="hPaths"></nav-path>
								({{value}})
							</span>

							<span
									class="glyphicon glyphicon-pencil"
									aria-hidden="true"
									data-ng-click="musicFilter.showRenameCategoryForm('hPaths', key, 'category')">
							</span>
					</li>
				</ul>
			</div>
			<div class="col-md-3" data-ng-if="musicList.paths[2]">
				<ul>
					<li ng-repeat="(key, value) in musicList.paths[2]">
							<span ng-click="musicList.addFilterQuery('hPaths', key)">
								<nav-path ng-attr-path="{{key}}" ng-attr-facet="hPaths"></nav-path>
								({{value}})
							</span>

							<span
									class="glyphicon glyphicon-pencil"
									aria-hidden="true"
									data-ng-click="musicFilter.showRenameCategoryForm('hPaths', key, 'category')">
							</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

