<div data-ng-controller="FilterController as filter">
	<div data-ng-controller="MusicFilterController as musicFilter">
		<div class="row top5">
			<div class="col-md-3">
				<ul>
					<li ng-repeat="(key, value) in musicList.providers">
							<span ng-click="document.addFilterQuery('hPaths', key)">
								<nav-path ng-attr-path="{{key}}" ng-attr-facet="hPaths"></nav-path>
								({{value}})
							</span>

							<span
									class="glyphicon glyphicon-pencil"
									aria-hidden="true"
									data-ng-click="musicFilter.showRenameCategoryForm('hPaths', key, 'category')">
							</span>
					</li>
				</ul>
			</div>
			<div class="col-md-3" data-ng-if="musicList.lists">
				<ul>
					<li ng-repeat="(key, value) in musicList.lists">
							<span ng-click="document.addFilterQuery('hPaths', key)">
								<nav-path ng-attr-path="{{key}}" ng-attr-facet="hPaths"></nav-path>
								({{value}})
							</span>

							<span
									class="glyphicon glyphicon-pencil"
									aria-hidden="true"
									data-ng-click="musicFilter.showRenameCategoryForm('hPaths', key, 'category')">
							</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

