<f:layout name="Default" />

<f:section name="Title">Show document list {categoryPath}</f:section>
<f:section name="Content">

<h3>documentListItems</h3>
<f:if condition="{documentList.documentListItems}">
	<f:then>
		<table class="table table-striped">
			<f:for each="{documentList.documentListItems}" as="documentListItem" iteration="it">
				<tr>
					<td>
						<f:link.action action="index" controller="Document" arguments="{document: documentListItem.document}">
							{documentListItem.sorting}: {documentListItem.document.name}
						</f:link.action>
					</td>
				</tr>
			</f:for>
		</table>
	</f:then>
	<f:else>
      <div class="alert alert-info" role="alert">no items</div>
	</f:else>
</f:if>

</f:section>
