







<div class="row">
	<div class="col-md-8">
		<img src="{{current.webBigPath}}" />
	</div>
	<div class="col-md-4">
		<button class="btn btn-default"  ng-click="prev()">prev</button>
		<button class="btn btn-default"  ng-click="next()">next</button>
		<ul>
			<li>{{current.identifier}}</li>
			<li>{{current.name}}</li>
			<li>{{current.year}}</li>
			<li>{{current.mDateTime}}</li>
		</ul>
		<div ng-show="current.tags">
			<h3>tags</h3>
			<ul>
				<li ng-repeat="item in current.tags">{{item}}</li>
			</ul>
		</div>
		<h3>locations</h3>
		<ul>
			<li ng-repeat="item in current.locations">{{item}}</li>
		</ul>
		<h3>categories</h3>
		<ul>
			<li ng-repeat="item in current.categories">{{item}}</li>
		</ul>
	</div>
</div>
