Total aa {{itemsPerPage}}
	 <span ng-click="pageChanged('3')">33XXXXX</span>
	 <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
<div class="clearfix"></div>

-xx {{itemsPerPage}} x {{total}}  +

<div style="position: relative" >
	<div class="iso-item {{item.selected}}"  ng-click="toggleItem(item, items)" data-doc=\'{{item}}\' dir-paginate="item in items | itemsPerPage: itemsPerPage" total-items="total" >
		<img src="{{item.webPreviewPath}}" />
	</div>
</div>
